<div class="card card-body">
    <h3 class="global-component-heading">MANY-TO-MANY Relation Mapping</h3>
    <div class="global-tab-title global-tab-slide-effect">
        <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
            data-hover="Example - 1">Example - 1</span>
        <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
            data-hover="Example - 2">Example - 2</span>    
    </div>

    <div *ngIf="elementId=='one'">
        <div class="card border-warning" style="border: 2px solid;">
            <div class="card-body">
              
            </div>
        </div>
    </div>

    <div *ngIf="elementId=='two'">
        <div class="card border-warning" style="border: 2px solid;">
            <div class="card-body">
               
            </div>
        </div>
    </div>

    <div *ngIf="elementId=='three'">
        <div class="card border-warning" style="border: 2px solid;">
            <div class="card-body">
               
            </div>
        </div>
    </div>
</div>