<div class="card card-body">
    <h3 class="global-component-heading">Inner queries(EMPLOYEE & STUDENT)</h3>
    <div class="global-tab-title global-tab-slide-effect">
        <span class="global-tab-pill" id="one" [ngClass]="(elementId2=='one')?'active':''" (click)="mainTab($event)"
            data-hover="Introduction">Introduction</span>
        <span class="global-tab-pill" id="two" [ngClass]="(elementId2=='two')?'active':''" (click)="mainTab($event)"
            data-hover="Animation video">Animation video</span>
    </div>
    <div *ngIf="elementId2=='one'">
        <div class="card-body">
            <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                    <div class="card-body" style="font-family: 'Inter', sans-serif;">

                        <div id="accordion">
                            <div class="tab-title tab-slide-effect">
                                <span class="tab-pill" id="question1" [ngClass]="(elementId=='question1')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-1">Question-1</span>
                                <span class="tab-pill" id="question2" [ngClass]="(elementId=='question2')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-2">Question-2</span>
                                <span class="tab-pill" id="question3" [ngClass]="(elementId=='question3')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-3">Question-3</span>
                                <span class="tab-pill" id="question4" [ngClass]="(elementId=='question4')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-4">Question-4</span>
                                <span class="tab-pill" id="question5" [ngClass]="(elementId=='question5')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-5">Question-5</span>
                                <span class="tab-pill" id="question6" [ngClass]="(elementId=='question6')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-6">Question-6</span>
                                <span class="tab-pill" id="question7" [ngClass]="(elementId=='question7')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-7">Question-7</span>
                                <span class="tab-pill" id="question8" [ngClass]="(elementId=='question8')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-8">Question-8</span>
                                <span class="tab-pill" id="question9" [ngClass]="(elementId=='question9')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-9">Question-9</span>
                                <span class="tab-pill" id="question10" [ngClass]="(elementId=='question10')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-10">Question-10</span>

                            </div>

                            <div *ngIf="elementId=='question1'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-1</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            details who has minimum age from the entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to find the employees who has minimum age
                                        </p>


                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerOne[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerOne">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerOne)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select * from
                                                employee where age = (select min(age) from employee);
                                                or<br>

                                                select * from employee where age in(select min(age) from
                                                employee);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of first question1-->

                            <div *ngIf="elementId=='question2'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-2</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            details who has maximum salary the entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to find the employees who has maximum salary
                                        </p>


                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerTwo[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerTwo">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerTwo)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block"> select * from
                                                employee where salary in(select max(salary) from employee);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of second question-->

                            <div *ngIf="elementId=='question3'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-3</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            details who has maximum age from the entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the student table
                                            have to find the students who are having maximum age
                                        </p>


                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerThree[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerThree">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerThree)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select * from
                                                student where age in (select max(age) from student);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of third question-->


                            <div *ngIf="elementId=='question4'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-4</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            who are having minimum total_marks from the entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the student table
                                            have to find the students who are having miminum total_marks


                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerFour[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerFour">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerFour)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select * from
                                                student where total_marks in (select min(total_marks) from
                                                student);

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of fourth question-->

                            <div *ngIf="elementId=='question5'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-5</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            details who are having maximum salary with minimum age from the
                                            entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to find the employees having maximum salary with minimum
                                            age from the entire table
                                        </p>

                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerFive[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerFive">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerFive)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select * from
                                                employee where salary in(select max(salary) from employee
                                                where age in (select min(age) from employee));

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of fifth question-->

                            <div *ngIf="elementId=='question6'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-6</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            count from the table who are having the minimum age </p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to find all the employees count who are having minimum age

                                        <table class="table table-striped">
                                            <tr>
                                                <th>count(age)</th>
                                            </tr>
                                            <tr>
                                                <td>5</td>
                                            </tr>
                                        </table>
                                        <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select count(age)
                                                from employee where age in (Select min(age) from employee);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of sixth question-->

                            <div *ngIf="elementId=='question7'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-7</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            count from table who are having highest salary </p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to find all the employees count with maximum salary
                                        </p>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>count(salary)</th>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                            </tr>
                                        </table>
                                        <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select count(salary)
                                                from employee where salary in (Select max(salary) from
                                                employee);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of seventh question-->

                            <div *ngIf="elementId=='question8'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-8</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            count from table who are having highest total_marks
                                        </p>
                                        <p><strong><u>Descirption:-</u></strong> From the student table have
                                            to find all the employees count with highest total_marks
                                        </p>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>count(total_marks)</th>
                                            </tr>
                                            <tr>
                                                <td>1</td>
                                            </tr>
                                        </table>
                                        <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select
                                                count(total_marks) from student where total_marks in (Select
                                                max(total_marks) from student);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of eightth question-->

                            <div *ngIf="elementId=='question9'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-9</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            count from table who are present on lowest current_semister
                                        </p>
                                        <p><strong><u>Descirption:-</u></strong> From the student table have
                                            to find th students count who are on lowest current_semister
                                        </p>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>count(current_semister)</th>
                                            </tr>
                                            <tr>
                                                <td>4</td>
                                            </tr>
                                        </table>
                                        <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select
                                                count(current_semister) from student where current_semister
                                                in (Select min(current_semister) from student);
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of nineth question-->

                            <div *ngIf="elementId=='question10'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-10</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print the students
                                            count who are having min age and are on highest current semister
                                        <p><strong><u>Descirption:-</u></strong> From the student table have
                                            to find the students count who are having min age and are on
                                            highest current semister
                                        </p>
                                        <table class="table table-striped">
                                            <tr>
                                                <th>count(*)</th>
                                            </tr>
                                            <tr>
                                                <td>2</td>
                                            </tr>
                                        </table><br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select count(*) from
                                                student where age in (Select min(age) from student where
                                                current_semister in (select max(current_semister) from
                                                student));
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of tenth question-->

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div><!-- problem statment end-->

    <div *ngIf="elementId2=='two'">
        <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
            <app-video-cmp 
            [url]="videoData"
            [audioData]="audioData"
            ></app-video-cmp>
        </div>

    </div>
</div>