<div class="card card-body">
    <h3 class="global-component-heading"> Keywords Introductions</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center"><b>Static Keyword</b></div>
                <div class="card-body" style="background-color: rgb(252, 227, 231);">
                    <li class='card-text' style='font-size: medium;font-style: oblique'>Memory allocation for static data happens along with the class at compile time</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>Non static data cannot be accessed from static methods. But they can be accessed with the help of objects.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>Static data can be accessed with the help of class name which is outside the class.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>Static block will be executed even before the execution of constructor.</li>
                    <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/static_keyword.jpg"><br>
                </div>
            </div>

            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center"><b>Final Keyword</b></div>
                <div class="card-body" style="background-color: rgb(229, 253, 253);">
                    <li class='card-text' style='font-size: medium;font-style: oblique'>Once the data is declared as final that cannot be modified further.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>When it is used before the objects, variables they can't be changed.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>When it is used before the methods they can't be overrided.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>When it is used before the class it can't be extended further.</li><br>
                    <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/final_keyword.jpg"><br>
                    <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/final_keyword2.jpg">

                </div>
            </div>
        </div>

        <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center"><b>this Keyword</b></div>
                <div class="card-body" style="background-color: rgb(229, 253, 253);">
                    <li class='card-text' style='font-size: medium;font-style: oblique'>this keyword is used to represent the current class objects.</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>it is used to differentiate the class variables and method variables when their names are same.</li><br>
                    <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/this_keyword.jpg">

                </div>
            </div>

            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-header text-center"><b>Super Keyword</b></div>
                <div class="card-body" style="background-color: rgb(252, 227, 231);">
                    <li class='card-text' style='font-size: medium;font-style: oblique'>super keyword is used to represent the parent class objects(methods and variables).</li>
                    <li class='card-text' style='font-size: medium;font-style: oblique'>It can be used to call the <b>parent class constructor, Access the parent class public and protected data.</b></li><br>
                    <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/super_keyword.jpg">

                </div>
            </div>
        </div>
    </div>
</div>