<div class="card card-body my-3">
  <h3 class="global-component-heading">Javascript Introduction</h3>

  <div class="card border-warning mt-4" style="border: 2px solid">
    <p class="content-text">
      JavaScript is a versatile and powerful programming language that plays a
      fundamental role in web development. It's often referred to as the
      "language of the web" because it's used to add interactivity and dynamic
      behavior to websites.
    </p>
    <p class="content-text">
      JavaScript is often abbreviated as <b>JS</b>, it is a high-level,
      interpreted scripting language. Developed in the mid-1990s by Netscape, it
      was initially used for basic web page interactions. Over the years, it has
      evolved into a full-fledged programming language that can run not only in
      web browsers but also on servers (Node.js) and in various application
      environments.
    </p>

    <div class="content-heading">
      <b>Key Characteristics</b>
    </div>
    <p class="content-text">
      <li>
        <b>Versatility:</b>
        JavaScript is a multi-paradigm language, which means you can use it for
        a wide range of programming tasks, including web development,
        server-side scripting, and even mobile app development.
      </li>
      <br />
      <li>
        <b>Interactivity:</b>
        One of JavaScript's primary roles is to make web pages interactive. It
        enables you to respond to user actions, such as clicks, input, and form
        submissions, in real-time without requiring a page reload.
      </li>
      <br />
      <li>
        <b>Cross-browser Compatibility:</b> JavaScript is supported by all major
        web browsers, including Chrome, Firefox, Safari, and Edge. This makes it
        an essential tool for creating cross-platform web applications.
      </li>
      <br />
      <li>
        <b>Dynamic Behavior:</b> With JavaScript, you can manipulate the
        Document Object Model (DOM) of a web page, allowing you to dynamically
        change the content, style, and structure of a webpage based on user
        input or other events.
      </li>
      <br />
      <li>
        <b>Client-Side and Server-Side:</b> JavaScript is used for both
        client-side and server-side development. On the client-side, it runs in
        the user's web browser, while on the server-side, it can be used to
        build server applications using technologies like Node.js.
      </li>
      <br />
      <li>
        <b> Rich Ecosystem:</b> JavaScript has a vast ecosystem of libraries and
        frameworks, such as React, Angular, and Vue.js, which simplify complex
        tasks and accelerate web development.
      </li>
    </p>
    <div class="content-heading">
      <b>Use of learning</b>
    </div>
    <p class="content-text">
      <li>
        <b>Web Development:</b> JavaScript is the backbone of web development.
        It allows you to create interactive and dynamic websites, enhancing the
        user experience.
      </li>
      <br />
      <li>
        <b>High Demand:</b> JavaScript developers are in high demand across the
        tech industry, making it a valuable skill in the job market.
      </li>
      <br />
      <li>
        <b>Versatile Skill:</b> Once you learn JavaScript, you can use it both
        on the client and server sides, making it a versatile language to have
        in your toolkit.
      </li>
      <br />
      <li>
        <b>Community and Resources:</b> JavaScript has a large and active
        community, providing extensive documentation, tutorials, and support for
        learners.
      </li>
    </p>
    <div class="content-heading">
      <b>Disadvantages</b>
    </div>
    <p class="content-text">
      <li>
        <b>Browser Dependency:</b> JavaScript execution can vary slightly
        between different browsers, which can lead to compatibility issues if
        not handled carefully.
      </li>
      <br />
      <li>
        <b>Security Risks:</b> Due to its client-side nature, JavaScript code
        can be exposed to users, potentially leading to security vulnerabilities
        if not properly secured against attacks like Cross-Site Scripting (XSS).
      </li>
      <br />
      <li>
        <b>Performance:</b> Although JavaScript engines have improved
        significantly, computationally intensive tasks can still be slower
        compared to languages like C++ or Java.
      </li>
      <br />
      <li>
        <b>Complexity:</b> As web applications become more complex, managing
        JavaScript code can become challenging. Without proper organization and
        architecture, code can become hard to maintain.
      </li>
      <br />
      <li>
        <b>SEO Challenges:</b> Search engine optimization (SEO) can be more
        challenging with single-page applications that heavily rely on
        JavaScript, as search engines may have difficulty indexing content.
      </li>
      <br />
      <li>
        <b>Debugging:</b> Debugging JavaScript code can be challenging,
        especially in large applications, and requires familiarity with
        developer tools in browsers.
      </li>
      <br />
      <li>
        <b>Callback Hell:</b> Asynchronous JavaScript programming can lead to
        "callback hell," making the code difficult to read and maintain.
        However, modern JavaScript features like Promises and async/await help
        mitigate this issue.
      </li>
    </p>
  </div>
</div>
