<div class="card card-body">
    <h3 class="global-component-heading">Software Installation </h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Python Installation"> Python Installation</span>
    </div>
  
    <div *ngIf="elementId=='one'">
      <div class="card-body">
        <div class="card border-warning text-center" style="border: 2px solid;">
          <h4 style="padding:10px">Click here to Download Software.</h4>
          <a style="padding:10px"
            href="https://www.python.org/downloads/"
            target="_blank"><button class="btn btn-primary">Download</button></a>
          <div style="padding:10px" class="card-group">
            <div class="card">
              <img class="card-img-top" src="assets\img\python\install/2.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 1:</h3>
                <h5 class="card-box">Click on Download Section & Download for Windows below button as shown in the image</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/3.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 2:</h3>
                <h5 class="card-box">After Download the Software than Open that Software as shown in the image</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/4.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 3:</h3>
                <h5 class="card-box">Now Select the <b>Customize installation</b> option <br>and <br>Select the Below Checkboxes</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/5.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 4:</h3>
                <h5 class="card-box">Select Checkboxes as shown in the image and Click <b>Next</b> Button</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/6.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 5:</h3>
                <h5 class="card-box">Select Checkboxes as shown in the image and Click <b>install</b> Button</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/7.jpg">
              <img class="card-img-top" src="assets\img\python\install/8.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 6:</h3>
                <h5 class="card-box">Wait for complete the Process <br>
                    After complete the Procees click <b>close</b> Button as shown in the image</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/9.jpg">
              <img class="card-img-top" src="assets\img\python\install/10.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 7:</h3>
                <h5 class="card-box">After complete the installation Check Software install Properlly or not <br>
                    open <b>Command Prompt</b> as shown in the image</h5>
              </div>
              <img class="card-img-top" src="assets\img\python\install/11.jpg">
              <div class="card-body">
                <h3 class="card-box">STEP 8:</h3>
                <h5 class="card-box">In command prompt tpye <b>"python --version"</b> for check python install or not as shown in the image</h5>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>