<div class="card card-body my-3">
  <h3 class="global-component-heading">Keywords</h3>

<div class="card border-warning mt-4" style="border: 2px solid">
  <p class="content-text">
        <li>
          <b>var:</b> Declares a variable (in older versions of JavaScript; let
          and const are recommended in modern JavaScript).
        </li>

        <li>
          <b>let:</b> Declares a block-scoped variable that can be reassigned.
        </li>

        <li>
          <b>const:</b> Declares a block-scoped constant variable with a fixed
          value.
        </li>

        <li>
          <b>if:</b> Conditional statement used to execute code if a specified
          condition is true.
        </li>

        <li>
          <b>else:</b> Used in conjunction with an if statement to execute code
          if the condition is false.
        </li>

        <li>
          <b>switch:</b> A conditional statement that tests a value against
          multiple possible case values and executes code based on the matching
          case.
        </li>

        <li>
          <b>for:</b> A loop statement used to repeatedly execute a block of
          code for a specified number of times.
        </li>

        <li>
          <b>while:</b> A loop statement that repeatedly executes a block of
          code as long as a specified condition is true.
        </li>

        <li>
          <b>do:</b> A loop statement similar to while, but it always executes
          the block of code at least once before checking the condition.
        </li>

        <li>
          <b>break:</b> Used to exit a loop or switch statement prematurely.
        </li>

        <li>
          <b>continue:</b> Skips the current iteration of a loop and continues
          with the next iteration.
        </li>

        <li>
          <b>return:</b> Exits a function and optionally returns a value to the
          caller.
        </li>

        <li>
          <b>function:</b> Declares a reusable block of code that can be called
          with arguments.
        </li>

        <li>
          <b>class:</b> Defines a blueprint for creating objects, introduced in
          ES6 (ECMAScript 2015).
        </li>

        <li>
          <b>new:</b> Creates an instance of an object or invokes a constructor
          function.
        </li>

        <li>
          <b>this:</b> Refers to the current object or context within a function
          or method.
        </li>

        <li>
          <b>null:</b> Represents the intentional absence of any object value.
        </li>

        <li>
          <b>undefined:</b> Represents a variable that has been declared but has
          no assigned value.
        </li>

        <li><b>true:</b> Boolean value representing a true condition.</li>

        <li><b>false:</b> Boolean value representing a false condition.</li>

        <li>
          <b>try:</b> Starts a block of code to be tested for errors (used with
          catch and finally for error handling).
        </li>

        <li>
          <b>catch:</b> Catches and handles exceptions thrown in a try block.
        </li>

        <li>
          <b>finally:</b> Contains code that will be executed after a try or
          catch block, regardless of whether an exception occurred.
        </li>

        <li>
          <b>throw:</b> Throws an exception that can be caught and handled with
          try and catch.
        </li>

        <li>
          <b>instanceof:</b> Checks if an object is an instance of a particular
          class or constructor.
        </li>

        <li>
          <b>typeof:</b> Returns a string indicating the data type of a variable
          or expression.
        </li>

        <li><b>delete:</b> Removes a property from an object.</li>

        <li><b>in:</b> Checks if an object has a specified property.</li>

        <li>
          <b>with:</b> Used to extend the scope chain for a block of code, but
          it's considered a discouraged feature and is not recommended.
        </li>

        <li>
          <b>export:</b> Used in modern JavaScript modules to specify which
          functions, objects, or values are accessible outside of the module.
        </li>

        <li>
          <b>import:</b> Used in modern JavaScript modules to import functions,
          objects, or values from other modules.
        </li>

        <li>
          <b>default:</b> Used in ES6 module exports to specify a default export
          from a module.
        </li>

        <li>
          <b>async:</b> Declares that a function will return a promise and can
          use await inside the function to pause execution until the promise is
          resolved or rejected.
        </li>

        <li>
          <b>await:</b> Used within an async function to pause execution until a
          promise is resolved or rejected.
        </li>

        <li>
          <b> class:</b> Defines a class, which is a blueprint for creating
          objects with methods and properties.
        </li>

        <li>
          <b>extends:</b> Inheritance keyword used to create a subclass that
          inherits properties and methods from a parent class.
        </li>

        <li>
          <b>super:</b> Calls the constructor or methods of a parent class
          within a subclass.
        </li>

        <li>
          <b>constructor:</b> A special method in a class that is called when an
          object is created from that class.
        </li>

        <li>
          <b>get:</b> Defines a getter method to access the properties of an
          object.
        </li>

        <li>
          <b>set:</b> Defines a setter method to modify the properties of an
          object.
        </li>

        <li>
          <b>static:</b> Defines a static method or property that belongs to the
          class itself, not to instances of the class.
        </li>

        <li>
          <b>delete:</b> Removes a property from an object or an element from an
          array.
        </li>

        <li>
          <b>instanceof:</b> Checks if an object is an instance of a particular
          class or constructor function.
        </li>

        <li>
          <b>typeof:</b> Returns a string indicating the data type of a variable
          or expression.
        </li>

        <li>
          <b>void:</b> Used before an expression to evaluate it and return
          undefined.
        </li>

        <li>
          <b>with:</b> Used to extend the scope chain for a block of code, but
          it's considered a discouraged feature and is not recommended.
        </li>

        <li>
          <b>NaN:</b> Represents a special value that indicates a "Not-a-Number"
          result in numeric operations.
        </li>

        <li>
          <b>Infinity:</b> Represents positive infinity, which is a numeric
          value that exceeds the maximum representable value.
        </li>

        <li>
          <b>-Infinity:</b> Represents negative infinity, which is a numeric
          value that exceeds the minimum representable value.
        </li>

        <li>
          <b>for...of:</b> Used to iterate over the values of an iterable object
          (e.g., arrays, strings, maps, sets) in a concise way.
        </li>

        <li>
          <b>for...in:</b> Used to iterate over the properties of an object,
          including its prototype chain.
        </li>

        <li>
          <b>yield:</b> Used in generator functions to yield a value to the
          caller without exiting the function.
        </li>

        <li>
          <b>arguments:</b> An array-like object available inside functions that
          holds the arguments passed to the function.
        </li>

        <li>
          <b>arguments.callee:</b> Refers to the currently executing function
          inside a function expression or anonymous function.
        </li>

        <li>
          <b>arguments.length:</b> Indicates the number of arguments passed to a
          function.
        </li>

        <li>
          <b>eval:</b> Evaluates a string of JavaScript code in the current
          scope, but it's considered risky and not recommended due to security
          concerns.
        </li>

        <li>
          <b>debugger:</b> Pauses the execution of code and allows you to
          inspect the call stack, variables, and other program state using a
          debugging tool.
        </li>
      </p>
   
</div>
</div>