<div class="card card-body my-3">
  <h3 class="global-component-heading">Oops</h3>

  <div class="card border-warning mt-4" style="border: 3px solid">
    <p class="content-text">
      Object-oriented programming (OOP) is a programming paradigm that focuses
      on organizing code into reusable and self-contained structures called
      objects. JavaScript, while often considered a multi-paradigm language,
      supports OOP principles. In JavaScript, you can create objects, define
      their properties and methods, and use inheritance to create relationships
      between objects.
    </p>


  <div class="card-group">
    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>Objects</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(252, 227, 231); font-size: large"
      >
        <p>
          In JavaScript, objects are fundamental. They are collections of
          key-value pairs, where keys are strings (or symbols), and values can
          be of any data type, including other objects, functions, or primitive
          values like numbers and strings. Objects are defined using literal
          notation <b>'{{ "{" }} {{ "}" }}'</b> or by using the
          <b>'new Object()'.</b>
          constructor.
        </p>
      </div>
    </div>

    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>class</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(229, 253, 253); font-size: large"
      >
        <p>
          In JavaScript, a class is a blueprint for creating objects with shared
          properties and methods. Classes provide a way to define and create
          objects that follow a specific structure and behavior. This concept
          was introduced in ECMAScript 6 (ES6) and provides a more structured
          and familiar way to work with object-oriented programming (OOP)
          principles in JavaScript.
        </p>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>Encapsulation</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(229, 253, 253); font-size: large"
      >
        <li>
          <b>Definition:</b> Encapsulation is the concept of bundling an
          object's data (attributes/properties) and the methods (functions) that
          operate on that data into a single unit called a class.
        </li>
        <br />
        <li>
          <b>Purpose:</b> It provides data security by hiding the internal
          details of an object from external access, allowing controlled access
          through well-defined interfaces (methods).
        </li>
        <br />
        <li>
          <b>Benefits:</b> Data integrity is maintained, and implementation
          details can change without affecting code that uses the class. It also
          promotes code organization and abstraction.
        </li>
      </div>
    </div>

    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>Inheritance</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(252, 227, 231); font-size: large"
      >
        <li>
          <b> Definition:</b> Inheritance is the mechanism that allows one class
          (subclass or derived class) to inherit properties and methods from
          another class (superclass or base class).
        </li>
        <br />
        <li>
          <b> Purpose:</b> It enables code reusability by creating a hierarchy
          of classes where derived classes inherit attributes and behaviors from
          their parent classes.
        </li>
        <br />
        <li>
          <b> Benefits:</b> Developers can create specialized classes without
          duplicating code, promoting efficient code maintenance and reducing
          redundancy.
        </li>
      </div>
    </div>
  </div>

  <div class="card-group">
    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>Polymorphism</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(252, 227, 231); font-size: large"
      >
        <li>
          <b>Definition:</b> Polymorphism means the ability of different classes
          to be treated as instances of their parent class. It allows objects of
          different classes to respond to the same method or interface in a
          unified way.
        </li>
        <br />
        <li>
          <b>Purpose:</b> It promotes flexibility and extensibility in software
          design by allowing objects to behave differently based on their
          specific implementations.
        </li>
        <br />
        <li>
          <b>Benefits:</b> Code can work with objects at a higher level of
          abstraction, enabling dynamic method binding, improved code
          organization, and easier code extension.
        </li>
      </div>
    </div>

    <div class="card border-primary" style="border: 2px solid; margin: 20px">
      <div
        class="card-header text-center"
        style="font-size: large; padding: 12px"
      >
        <b>Abstraction</b>
      </div>
      <div
        class="card-body"
        style="background-color: rgb(229, 253, 253); font-size: large"
      >
        <li>
          <b>Definition:</b> Abstraction is the process of simplifying complex
          reality by modeling classes based on their essential characteristics
          while ignoring non-essential details.
        </li>
        <br />

        <li>
          <b>Purpose:</b> It helps manage complexity by focusing on what an
          object does rather than how it does it. Abstraction creates a clear
          separation between the interface (what's exposed) and the
          implementation (how it works).
        </li>
        <br />
        <li>
          <b>Benefits:</b> Abstraction reduces code complexity, enhances code
          readability, and allows developers to work with higher-level concepts,
          leading to better problem-solving and maintainability.
        </li>
      </div>
    </div>
  </div>

  <!-- <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b>Inheritance via class (ES6+)</b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(229, 253, 253)"
          ></div>
        </div>

        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b>Getter and Setter Methods</b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(252, 227, 231)"
          ></div>
        </div>
      </div>

      <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b> </b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(252, 227, 231)"
          ></div>
        </div>

        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b></b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(229, 253, 253)"
          ></div>
        </div>
      </div>

      <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b> </b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(229, 253, 253)"
          ></div>
        </div>

        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px"
        >
          <div
            class="card-header text-center"
            style="font-size: large; padding: 12px"
          >
            <b></b>
          </div>
          <div
            class="card-body"
            style="background-color: rgb(252, 227, 231)"
          ></div>
        </div>
      </div> -->
</div>
</div>