<div class="card card-body">
    <h3 class="global-component-heading">Kadane's Algorithm</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
        data-hover="Test Cases">Test Cases</span>
      <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
        data-hover="Practice">Practice</span>
    </div>
  
    <div *ngIf="elementId=='one'">
      <div class="card-body">
        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body content-box" style="font-family: 'Inter', sans-serif;">
              <h1>Kadane's Algorithm</h1>
              <p>Kadane's algorithm is a brilliant technique in computer science 
                used to find the maximum sum subarray within a given array of numbers. 
                This efficient algorithm scans through the array in a single pass, 
                dynamically tracking the maximum subarray sum ending at each position.
                By cleverly considering the local and global maximums, Kadane's algorithm elegantly solves the
                'maximum subarray problem' with a time complexity of O(n), 
                making it a go-to solution for optimizing a wide range of applications,
                from financial analysis to image processing.</p>
              
              <div class="example">
                <h2>Example 1</h2>
                <p><strong>Input:</strong> N = 5, Arr[] = {{ '{' }}1, 2, 3, -2, 5{{ '}' }}</p>
                <p><strong>Output:</strong> 9</p>
                <p>Explanation: The maximum subarray sum is 9, which corresponds to the elements (1, 2, 3, -2, 5) forming a contiguous subarray.</p>
              </div>
              
              <div class="example">
                <h2>Example 2</h2>
                <p><strong>Input:</strong> N = 4, Arr[] = {{ '{' }}-1, -2, -3, -4{{ '}' }}</p>
                <p><strong>Output:</strong> -1</p>
                <p>Explanation: The maximum subarray sum is -1, which is obtained from the element -1 itself.</p>
              </div>
            </div>
          </div>

          <!-- Starting of examples-->
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text"> Enter  number of element<br>
                          Enter array element <br>
                          n=5
                          Arr[] = {{ '{' }}1,2,3,-2,5{{ '}' }}
                </p>

                <!-- <p style="margin-top: -20px;" class="card-text">22</p> -->
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">9</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter  number of element<br>
                  Enter array element <br>
                  N = 4 <br>
                  Arr[] = {{ '{' }}-1,-2,-3,-4{{ '}' }}

                </p>
                <!-- <p style="margin-top: -20px;" class="card-text">11</p> -->
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">-1</p>
              </div>
            </div>
  
            <!-- <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 3</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">85</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">85 is odd number.</p>
              </div>
            </div> -->
          </div> 
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning">
        <img class="program-img-fit" src="M:\frontend\codingmaxima-courses\src\assets\dsa pic" alt="program">
      </div>
    </div>
    <div *ngIf="elementId=='three'">
      <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
        <app-video-cmp [url]="'even_odd.m4v'"></app-video-cmp>
      </div>
    </div>
    <div *ngIf="elementId=='four'">
      <div class="card-body">
  
        <!-- Starting of test cases -->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 1</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">22</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Even</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 2</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">11</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 3</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">85</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
        </div> <!-- Ending of test cases -->
  
      </div>
    </div>
    <div *ngIf="elementId=='five'">
      <div class="card-body">
        <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
  
      </div>
    </div>
  </div>