<div class="card card-body">
    <h3 class="global-component-heading">Spring Boot Properties</h3>

    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="text-center">
                <table>
                    <thead>
                        <tr>
                            <th>Property</th>
                            <th>Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td><code>server.port</code></td>
                            <td>The port on which the server listens for incoming requests.</td>
                        </tr>
                        <tr>
                            <td><code>server.servlet.context-path</code></td>
                            <td>The context path of the web application.</td>
                        </tr>
                        <tr>
                            <td><code>spring.application.name</code></td>
                            <td>The name of the Spring Boot application.</td>
                        </tr>
                        <tr>
                            <td><code>spring.profiles.active</code></td>
                            <td>The active Spring profile(s) for the application.</td>
                        </tr>
                        <tr>
                            <td><code>spring.datasource.url</code></td>
                            <td>The URL of the database to which the application connects.</td>
                        </tr>
                        <tr>
                            <td><code>spring.datasource.username</code></td>
                            <td>The username used to connect to the database.</td>
                        </tr>
                        <tr>
                            <td><code>spring.datasource.password</code></td>
                            <td>The password used to connect to the database.</td>
                        </tr>
                        <tr>
                            <td><code>spring.jpa.show-sql</code></td>
                            <td>Whether or not to output SQL statements to the console.</td>
                        </tr>
                        <tr>
                            <td><code>spring.jpa.hibernate.ddl-auto</code></td>
                            <td>The Hibernate DDL mode used for database schema generation.</td>
                        </tr>
                        <tr>
                            <td><code>spring.jpa.properties.hibernate.dialect</code></td>
                            <td>The Hibernate dialect used to interact with the database.</td>
                        </tr>
                        <tr>
                            <td><code>logging.level</code></td>
                            <td>The logging level for the application.</td>
                        </tr>
                        <tr>
                            <td><code>spring.mail.host</code></td>
                            <td>The SMTP host for sending emails.</td>
                        </tr>
                        <tr>
                            <td><code>spring.mail.port</code></td>
                            <td>The SMTP port for sending emails.</td>
                        </tr>
                        <tr>
                            <td><code>spring.mail.username</code></td>
                            <td>The username used for sending emails.</td>
                        </tr>
                        <tr>
                            <td><code>spring.mail.password</code></td>
                            <td>The password used for sending emails.</td>
                        </tr>
                        <tr>
                            <td><code>spring.mail.properties.mail.smtp.auth</code></td>
                            <td>Whether or not to use SMTP authentication for sending emails.</td>
                        </tr>
                        <tr>
                            <td><code>spring.security.user.name</code></td>
                            <td>The username for the default Spring Security user.</td>
                        </tr>
                        <tr>
                            <td><code>spring.security.user.password</code></td>
                            <td>The password for the default Spring Security user.</td>
                        </tr>
                        <tr>
                            <td><code>spring.thymeleaf.cache</code></td>
                            <td>Whether or not to enable Thymeleaf template caching.</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>