<div class="card card-body">
    <h3 class="global-component-heading">Hierarchical Inheritance Example</h3>
    <div class="global-tab-title global-tab-slide-effect">
        <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
            data-hover="introduction">introduction</span>
        <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
            data-hover="Program">Program</span>
    </div>
    <div *ngIf="elementId=='one'">
        <div class="card border-warning" style="border: 2px solid;">
            <div class="card-body">

                <div class="article">
                    In this example, the InterestCalculator abstract class provides a common base implementation for
                    interest calculations. It includes fields for principal amount, number of years, and interest rate.
                    The abstract method calculateInterest() is responsible for performing the actual interest
                    calculation, which is then implemented by its subclasses.<br>

                    The SimpleInterestCalculator class extends the InterestCalculator abstract class and overrides the
                    calculateInterest() method to calculate simple interest. The formula used is principal * rate *
                    years. <br>

                    The CompoundInterestCalculator class also extends the InterestCalculator abstract class and
                    overrides the calculateInterest() method to calculate compound interest. The formula used is
                    principal * (1 + rate/100)^years - principal. <br>

                    The InterestCalculatorApp class demonstrates the usage of the interest calculators. It creates
                    instances of both SimpleInterestCalculator and CompoundInterestCalculator and calls the
                    displayInterest() method to calculate and display the interest amount.<br>
                </div>

                <img class="program-img-fit" src="assets/img/corejava/oops/three.jpg">

            </div>
        </div>
    </div>

    <div *ngIf="elementId=='two'">
        <div class="card-body border border-warning">
            <img class="program-img-fit" src="assets/img/corejava/oops/interest.jpg" alt="program">
            <img class="program-img-fit" src="assets/img/corejava/oops/simple.jpg">
            <img class="program-img-fit" src="assets/img/corejava/oops/compond.jpg">
            <img class="program-img-fit" src="assets/img/corejava/oops/hierarchical.jpg">
        </div>
    </div>

</div>