<div class="card card-body">
  <h3 class="global-component-heading">Question-2</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span
      class="global-tab-pill"
      id="one"
      [ngClass]="elementId == 'one' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Problem Statement"
      >Problem Statement</span
    >
    <span
      class="global-tab-pill"
      id="two"
      [ngClass]="elementId == 'two' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Program"
      >Program</span
    >
    <span
      class="global-tab-pill"
      id="three"
      [ngClass]="elementId == 'three' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Animation Video"
      >Animation Video</span
    >

    <span
      class="global-tab-pill"
      id="four"
      [ngClass]="elementId == 'four' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Practice"
      >Practice</span
    >
  </div>
  <div *ngIf="elementId == 'one'">
    <div class="card border-warning" style="border: 2px solid">
      <div class="text-center">
        <p class="block">
          Here the problem is to print the 10 to 1 numbers using the "for" loop
          and "while" loop.
        </p>
        <p class="block">
          <li>
            From the above given problem we have to print the numbers starting
            from 10 to 1 numbers using the loops.
          </li>
          <br />
          <li>Here is the problems explanation using for loop</li>
          <br />
          Step-1: Mainly we need initializer, condition, increment/ decrement
          for running the for loop.<br />

          First initialization from the problem itself states that the numbers
          should have to print from 10 so the initializer will be 10.<br />
          second condition it is important to choose how to write it. so it
          should have to start from 10 have to end with value 1 so we can choose
          &gt; symbol or &gt;= symbol or != symbol. third we need the values to
          be in decrasing order so have to choose decrement.
          <br />
          <li>
            Step-2: we have all the parts which is required to iterate the
            loop.<br />
            lets take initializer variable as n = 10; condition is n &gt; 0 / !=
            0 / &gt;= 1; and the values should have to be decresased so n--;
          </li>
          <li>
            Step-3: Now initially n value is 10 it will check for condition 10
            is &gt 0 it is true it will print 10 and decreases 1 number from 10
            . Now n will become 9.
          </li>
          <li>
            Step-4: Now initial n vlaue is 9 It will check for the condition 9
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 9. Now n will becomes 8.
          </li>
          <li>
            Step-5: Now initial n vlaue is 8 It will check for the condition 8
            is &gt 0 . It is true so it will print number 8 and decreases 1
            number from 8. Now n will becomes 7.
          </li>

          <li>
            Step-6: Now initial n vlaue is 7 It will check for the condition 7
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 7. Now n will becomes 6.
          </li>
          <li>
            Step-7: Now initial n vlaue is 6 It will check for the condition 6
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 6. Now n will becomes 5.
          </li>
          <li>
            Step-8: Now initial n vlaue is 5 It will check for the condition 5
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 5. Now n will becomes 4.
          </li>
          <li>
            Step-9: Now initial n vlaue is 4 It will check for the condition 4
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 4. Now n will becomes 3.
          </li>
          <li>
            Step-10: Now initial n vlaue is 3 It will check for the condition 3
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 3. Now n will becomes 2.
          </li>
          <li>
            Step-11: Now initial n vlaue is 2 It will check for the condition 2
            is &gt 0 . It is true so it will print number 9 and decreases 1
            number from 2. Now n will becomes 1.
          </li>
          <li>
            Step-12: Now initial n vlaue is 1 It will check for the condition 1
            is &gt 0 . It is true so it will print number 1 and decreases 1
            number from 1. Now n will becomes 0.
          </li>
          <li>
            Step-13: Now initial n vlaue is 0 It will check for the condition 0
            is &gt 0 . It is false so the loop will stop iterating.
          </li>
        </p>
      </div>
    </div>
  </div>
  <div *ngIf="elementId == 'two'">
    <div class="card-body border-warning" style="border: 2px solid">
      <div class="card-group">
        <div class="card border-primary">
          <img
            class="program-img-fit"
            src="assets/img/corejava/loops/que2_using_for.jpg"
            alt="program"
          />
        </div>
        <div class="card border-primary">
          <img
            class="program-img-fit"
            src="assets/img/corejava/loops/que2_using_while.jpg"
            alt="program"
          />
        </div>
      </div>
    </div>
  </div>
  <div *ngIf="elementId == 'three'">
    <div class="card-body">
      <app-video-cmp [audioData]="audioData" [url]="''"></app-video-cmp>
    </div>
  </div>
  <div *ngIf="elementId == 'four'">
    <div class="card-body">
      <app-compiler-cmp
        [problemId]="'addtion'"
        [languageId]="'JAVA8'"
      ></app-compiler-cmp>
    </div>
  </div>
</div>
