<div class="card card-body">
  <h3 class="global-component-heading">All Type Of Arrays</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="program">program</span>
  </div>
  <div *ngIf="elementId=='one'">
    <div class="card border-warning" style="border: 2px solid;">
      <div class="card-body">
        <img class="program-img-fit" src="assets/img/corejava/arrays/all.JPG" alt="" />
        <img class="program-img-fit" src="assets/img/corejava/arrays/alloutput.JPG" alt="" />
      </div><!-- Ending of problem statement card body-->
    </div>
  </div>
</div>