<div class="card card-body">
    <h3 class="global-component-heading">Sorting(EMPLOYEE & STUDENT)</h3>
    <div class="global-tab-title global-tab-slide-effect">
        <span class="global-tab-pill" id="one" [ngClass]="(elementId2=='one')?'active':''" (click)="mainTab($event)"
            data-hover="Introduction">Introduction</span>
        <span class="global-tab-pill" id="two" [ngClass]="(elementId2=='two')?'active':''" (click)="mainTab($event)"
            data-hover="Animation video">Animation video</span>
    </div>
    <div *ngIf="elementId2=='one'">
        <div class="card-body">

            <div class="card border-warning" style="border: 2px solid;">
                <div class="card" style="margin: 5px;">
                    <div class="card-body" style="font-family: 'Inter', sans-serif;">

                        <div id="accordion">
                            <div class="tab-title tab-slide-effect">
                                <span class="tab-pill" id="question1" [ngClass]="(elementId=='question1')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-1">Question-1</span>
                                <span class="tab-pill" id="question2" [ngClass]="(elementId=='question2')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-2">Question-2</span>
                                <span class="tab-pill" id="question3" [ngClass]="(elementId=='question3')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-3">Question-3</span>
                                <span class="tab-pill" id="question4" [ngClass]="(elementId=='question4')?'active':''"
                                    (click)="tabChange($event)" data-hover="Question-4">Question-4</span>

                            </div>

                            <div *ngIf="elementId=='question1'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-1</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            details in an order of company_name</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table
                                            have to keep the details of the employees in the order of company_name
                                        </p>
                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerOne[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerOne">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerOne)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select * from employee order by
                                                company_name;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of first question1-->

                            <div *ngIf="elementId=='question2'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-2</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            details in the descending order of total_marks</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the student table
                                            have to find the students total_marks in an descending order
                                        </p>
                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerTwo[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerTwo">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerTwo)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block"> select * from student order by
                                                total_marks desc;

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of second question-->

                            <div *ngIf="elementId=='question3'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-3</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the employees
                                            details such as id,first_name, last_name,company_name,salary in an order of
                                            salary in decreasing order from the entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the employee table  have to find the employees id,first_name,
                                            last_name,company_name,salary in an order of salary in decreasing order
                                           
                                        </p>
                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerThree[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerThree">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerThree)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select id
                                                ,first_name,last_name,company_name,salary from employee order by salary
                                                desc;

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of third question-->

                            <div *ngIf="elementId=='question4'">
                                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                                    <div class="card-header text-center"><b>Question-4</b></div>
                                    <div class="card-body text-center">
                                        <p style="padding: 10px;" class="btn-block"> Print all the students
                                            details such as first_name, last_name,
                                            college_name,current_semister,total_marks in an asc order of age from the
                                            entire table</p>
                                        <p>
                                            <strong><u>Descirption:-</u></strong> From the student table
                                            have to find the students first_name, last_name,
                                            college_name,current_semister,total_marks in an asc order of age
                                        <div style="overflow-x:auto;">
                                            <table>
                                                <tr>
                                                    <th *ngFor="let col of getSplitDataHeader(answerFour[0])">
                                                        {{col}}
                                                    </th>
                                                </tr>
                                                <tr *ngFor="let row of answerFour">
                                                    <td *ngFor="let col of getSplitDataRows(row, answerFour)">
                                                        {{col}}
                                                    </td>
                                                </tr>
                                            </table>
                                        </div> <br>
                                        <button style="padding: 10px;" class="btn btn-primary"
                                            (click)="answerChange()">{{buttonValue}}</button>
                                        <div style="padding: 10px;" *ngIf="toggleOn">
                                            <p style="padding: 10px;" class="btn-block">select
                                                first_name,last_name,college_name,current_semister,total_marks from
                                                student order by age ;
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div><!--end of fourth question-->

                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div><!-- problem statment end-->

    <div *ngIf="elementId2=='two'">
        <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
            <app-video-cmp 
            [url]="videoData"
            [audioData]="audioData"
            ></app-video-cmp>
        </div>

    </div>
</div>