
.btn-block {
    width: 90%;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: rgb(216 235 246);
    margin-top: 15px;
    font-size: 20px;
    word-spacing: 5px;
    padding: 30px;
    text-align: start;
  }