<div class="card card-body">
    <h3 class="global-component-heading">toString() Method</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                <div class="card-body" style="background-color: rgb(229, 253, 253);">
                    <button type="button" class="btn btn-lg btn-block">In Java, the toString() method is a built-in method defined in the Object class. It is used to obtain a string representation of an object. By default, every class in Java inherits this method from the Object class, and you can override it in your own classes to provide a custom string representation. The toString() method is commonly used for debugging, logging, or displaying object information.</button>
                </div>
            </div>
        </div>
    </div>
</div>