<footer id="footer" class="text-center text-lg-start bg-dark text-white">
  <div class="row">
     
    <div class="col">
      <a class="navbar-brand" href="/"><img style="width: 160px;margin: 10px 0px 10px 0px;" src="assets/img/logo.png" alt="navbarcode"> </a>
    </div>

    <div class="col">
      <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
        © {{year}} Copyright:
        <a class="text-reset fw-bold" [routerLink]="['/']">Maxima Encode Private Limited</a>
      </div>
    </div>

    <div class="col d-flex" style="margin: 1.5rem 0px 1rem 0px;">
      <p>
        <a target="_new" href="https://www.facebook.com/people/Codingmaxima/100083039421860/"
          class="text-decoration-none text-white social-icons"><i class="fa fa-facebook-f"></i> <span>Facebook</span></a>
      </p>
      <p>
        <a target="_new" href="https://www.instagram.com/codingmaxima/"
          class="text-decoration-none text-white social-icons"><i class="fa fa-instagram"></i> <span>Instagram</span></a>
      </p>
    </div>

  </div>
  
</footer>