<div class="card card-body">
    <h3 class="global-component-heading">Wrapper classes</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="text-center">
                <div style=" font-size: medium; padding: 10px; border: 1px solid rgb(4, 16, 243);">
                    <button type="button" class="btn btn-lg btn-block">A wrapper class is a class that contains
                        primitive data types(int,boolean,char,short,byte, etc..) as objects.</button>
                    <button type="button" class="btn btn-lg btn-block">They comes under java.util package</button>
                    <button type="button" class="btn btn-lg btn-block">We can convert wrapper classes to primitivee data types and primitive data types to wrapper classes </button>
                    <button type="button" class="btn btn-lg btn-block"><b>autoboxing -</b> converting primitive data
                        types to objects(wrapper class)</button>
                    <button type="button" class="btn btn-lg btn-block"><b>unboxing -</b> converting the objects(wrapper class) into
                        primitive data types</button>

                </div>
            </div>
            <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header; text-center"><b>Integer</b></div>
                    <div class="card-body" style="background-color:rgb(229, 253, 253);">
                        <li class ="card-text">converting int primitive data type to Integer wrapper class(Autoboxing)</li>
                        <li class ="card-text">int a = 1</li>
                        <li class ="card-text">Integer b = a</li><br>
                        <li class ="card-text">converting Integer wrapper class to int primitive data type (unboxing)</li>
                        <li class ="card-text">Integer a = 1</li>
                        <li class ="card-text">int b = a</li>

                    </div>
                </div>

                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header; text-center"><b> Double</b></div>
                    <div class="card-body" style="background-color:rgb(252, 227, 231)">
                        <li class ="card-text">converting double primitive data type to Double wrapper class(Autoboxing)</li>
                        <li class ="card-text">double a = 12.45</li>
                        <li class ="card-text">Double b = a</li><br>
                        <li class ="card-text">converting Double wrapper class to double primitive data type (unboxing)</li>
                        <li class ="card-text">Double a = 134.45</li>
                        <li class ="card-text">double b = a</li>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header; text-center"><b>Long</b></div>
                    <div class="card-body" style="background-color:rgb(252, 227, 231)">
                        <li class ="card-text">converting long primitive data type to Long wrapper class(Autoboxing)</li>
                        <li class ="card-text">long a = 12354345L</li>
                        <li class ="card-text">Long b = a</li><br>
                        <li class ="card-text">converting Long wrapper class to long primitive data type (unboxing)</li>
                        <li class ="card-text">Long a = 235432543L</li>
                        <li class ="card-text">long b = a</li>
                    </div>
                </div>

                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header; text-center"><b>Character</b></div>
                    <div class="card-body" style="background-color:rgb(229, 253, 253);">
                        <li class ="card-text">converting char primitive data type to Character wrapper class(Autoboxing)</li>
                        <li class ="card-text">char a = 's'</li>
                        <li class ="card-text">Character b = a</li><br>
                        <li class ="card-text">converting Character wrapper class to char primitive data type (unboxing)</li>
                        <li class ="card-text">Character a = 's'</li>
                        <li class ="card-text">char b = a</li>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>