<div class="card card-body">
  <h3 class="global-component-heading">Level-2 Caching Example-2 </h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Problem Statement">Problem Statement</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="Program">Program</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation Video">Animation Video</span>

  </div>

  <div *ngIf="elementId=='one'">
    <div class="card-body">
      <div class="card-group">
        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center"><b>Student Class</b></div>
          <div class="card-body">
            <p>create a Student Class by using below data
            </p>
            <ol>
              <li>Declare all class variables as private.</li>
              <li>Write Defalut and parameterized constructor.</li>
              <li>Write Setters and Getters for each private variable.</li>
              <li>Write toString() method for the class.</li>
            </ol>

            <ul>
              <li class="card-text"><b>roll_no </b> - This property is to give unique id for student like rollnumber(int
                type)
              </li>
              <li class="card-text"><b>name - </b> - The name of the student.(string type)
              </li>


            </ul>
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center "><b>Laptop Class</b></div>
          <div class="card-body">
            <p>Create Laptop class with following properties <br>

            </p>
            <ol>
              <li>Declare all class variables as private.</li>
              <li>Write Defalut and parameterized constructor.</li>
              <li>Write Setters and Getters for each private variable.</li>
              <li>Write toString() method for the class.</li>
            </ol>


            <ul>

              <li class="card-text"><b>laptop_id </b> - This property is to give unique id for Laptop(int type)
              </li>
              <li class="card-text"><b>name - </b> - The name of the Laptop.(string type)
              </li>
              <li class="card-text"><b>modelSeries - </b> - The model of the Laptop.(string type)</li>
              <li class="card-text"><b>student - </b> - The student name of the Laptop.(Student class object)</li>
            </ul>
          </div>
        </div>
      </div> <!-- Ending of examples-->

    </div>
  </div>
</div>


<div *ngIf="elementId=='two'">

  <div class="tab-title tab-slide-effect">
    <span class="tab-pill" id="pojo" [ngClass]="(elementId2=='pojo')?'active':''" (click)="subTabChange($event)"
      data-hover="POJO(Model) Classes">POJO(Model) Classes</span>
    <span class="tab-pill" id="main" [ngClass]="(elementId2=='main')?'active':''" (click)="subTabChange($event)"
      data-hover="Main Class">Main Class</span>
    <span class="tab-pill" id="configuration" [ngClass]="(elementId2=='configuration')?'active':''"
      (click)="subTabChange($event)" data-hover="Configuration File">Configuration File</span>
    <span class="tab-pill" id="pom.xml" [ngClass]="(elementId2=='pom.xml')?'active':''" (click)="subTabChange($event)"
      data-hover="pom.xml">pom.xml</span>
  </div>

  <div class="card-group" *ngIf="elementId2=='pojo'">
    <div class="card">
      <h5 class="text-center card-title animate-charcter">Student POJO Class</h5>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/hibernate/leveltwocacheexp2/studentpojo.jpg" alt="">
      </div>
    </div>
    <div class="card">
      <h5 class="text-center card-title animate-charcter">Laptop POJO Class</h5>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/hibernate/leveltwocacheexp2/laptoppojo.jpg" alt="">
      </div>
    </div>

  </div>

  <div *ngIf="elementId2=='main'">
    <div class="card">
      <h5 class="text-center card-title animate-charcter">Main Class</h5>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/hibernate/leveltwocacheexp2/main.jpg" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="elementId2=='configuration'">
    <div class="card">
      <h5 class="text-center card-title animate-charcter">Configuration file</h5>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/hibernate/leveltwocacheexp2/configuration.jpg" alt="">
      </div>
    </div>
  </div>

  <div *ngIf="elementId2=='pom.xml'">
    <div class="card">
      <h5 class="text-center card-title animate-charcter">POM.XML file</h5>
      <div class="card-body">
        <img class="card-img-top" src="assets/img/hibernate/leveltwocacheexp2/xml.jpg" alt="">
      </div>
    </div>
  </div>
</div>

<div *ngIf="elementId=='three'">
  <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
    <app-video-cmp [url]="''"></app-video-cmp>
  </div>
</div>