<div class="card card-body">
    <h3 class="global-component-heading"> Keywords Introductions</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="text-center">

                <img class="card-img-top" src="assets/img/corejava/keywords&specifiers/specifiers.jpg">

                <div class="card-group">
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                        <div class="card-header; text-center"><b>Public Specifier</b></div>
                        <div class="card-body" style="background-color:rgb(229, 253, 253);">
                            <li class='card-text' style='font-size: medium;font-style: oblique'>This was the most commonly used specifier.</li>
                            <li class='card-text' style='font-size: medium;font-style: oblique'>Public specifer are visible in same package as well as other packages</li>
                            <li class='card-text' style='font-size: medium;font-style: oblique'>They can be visible for same class and different classes(i.e., class A can be visible to class B) </li>
                        </div>
                    </div>

                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                        <div class="card-header; text-center"><b>Private Specifier</b></div>
                        <div class="card-body" style="background-color:rgb(252, 227, 231)">
                            <li class='card-text' style='font-size: medium;font-style: oblique'>Private specifiers are visible in the same class only and  not for the other classes in same packages as well as classes in the different packages.</li>
                           
                        </div>
                    </div>
                </div>

                <div class="card-group">
                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                        <div class="card-header; text-center"><b>Protected Specifier</b></div>
                        <div class="card-body" style="background-color:rgb(252, 227, 231)">
                            <li class='card-text' style='font-size: medium;font-style: oblique'>Protected specifers are visible for one class to other class which is present inside the same package</li>
                            <li class='card-text' style='font-size: medium;font-style: oblique'>They are invisible for one class to other class which are present in other packages. for accessing(visibility) purpose use <b>extend</b></li>

                        </div>
                    </div>

                    <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                        <div class="card-header; text-center"><b>Default Specifier</b></div>
                        <div class="card-body" style="background-color:rgb(229, 253, 253);">
                            <li class='card-text' style='font-size: medium;font-style: oblique'>The methods and variables declaredin a classs wihout any access specifers then they are called as <b>default specifiers</b></li>
                            <li class='card-text' style='font-size: medium;font-style: oblique'>They are visible for one class to other class which are inside the package</li>
                            <li class='card-text' style='font-size: medium;font-style: oblique'>They are not visible to the classes which are present outside the packages</li>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>