.btn-block {
    width: 90%;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: rgb(154, 216, 249);
}

table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
  
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #f1f1f1;
  }
  table tr:nth-child(even) {
    background-color: #ffffff;
  }
