table, th , td  {
    border: 1px solid grey;
    border-collapse: collapse;
  
    padding: 5px;
  }
  table tr:nth-child(odd) {
    background-color: #e5effc;
  }
  table tr:nth-child(even) {
    background-color: #b5e2fe;
  }