<div class="card card-body">
    <h3 class="global-component-heading">HTML Introduction</h3>
    <div id="accordion">
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#HTML-1"
                        aria-expanded="false" aria-controls="HTML-1">
                        What is HTML?
                    </button>
                </h5>
            </div>
            <div id="HTML-1" class="collapse show" aria-labelledby="headingOne">
                <div class="card-body">
                    <ul>
                        <li><b>HTML</b> stands for Hyper Text Markup Language</li>
                        <li><b>Hypertext</b> means that the document contains links that allow the reader to jump to other places in the document or to another document altogether</li>
                        <li>A <b>Markup Language</b> is a way that computers speak to each other to control how text is processed and presented. To do this HTML uses two things: <b>tags and attributes</b></li>
                        <li>HTML is the language in which most websites are written. HTML is used to create pages and make them functional</li>
                        <li>HTML elements tell the browser how to display the content which is plain text</li>
                        <li>HTML is not a compiler or interpreter ,In simple terms its just a text visualiser , We use css and javacript along with it to make websites</li>
                        <li>Important words in html are as follows</li>
                        <ul>
                            <li> Html elements which are also called <b>Html tags</b> </li>
                            <li> <b>attributes</b> , <b>document</b> </li>
                        </ul>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#Tags-and-attributes"
                        aria-expanded="false" aria-controls="Tags-and-attributes">
                        What are Tags and Attributes?
                    </button>
                </h5>
            </div>
            <div id="Tags-and-attributes" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <ul>
                        <li>Tags are used to mark up the start of an HTML element and they are usually enclosed in angle brackets. An example of a tag is: <code>&lt;h1&gt;</code> </li>
                        <li>Most tags must be opened <code>&lt;h1&gt;</code> and closed <code>&lt;/h1&gt;</code> in order to function</li>
                        <li><code>&lt;h1&gt;</code> tag is used for heading and <code>&lt;p&gt;</code> tag is used for paragraph and there are many tags</li>
                        <li> for example using heading tag look like as below</li>
                    </ul>
                    <div style="border: 1px solid rgb(243, 179, 141);padding: 25px;width: 30%;margin-left: 6%;border-radius: 5px;">
                        <div><code>&lt;h1&gt;</code>This is a heading one<code>&lt;/h1&gt;</code></div>
                        <div><code>&lt;p&gt;</code>This is a paragraph<code>&lt;/p&gt;</code></div>
                    </div><br>
                    <li>and it looks in browser as below</li>
                    <div style="border: 1px solid rgb(243, 179, 141);padding: 25px;width:45%;margin-left: 6%;border-radius: 5px;">
                        <h1>This is a heading one</h1>
                        <p>This is a paragraph</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#create-html"
                        aria-expanded="false" aria-controls="create-html">
                        Create a HTML Document
                    </button>
                </h5>
            </div>
            <div id="create-html" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <ul>
                        <li><b>prerequisites for creating HTML document is listed below</b></li>
                        <ul>
                            <li>Your favourite editor ( for beginers notepad or notepad++ )</li>
                        </ul>
                        <li>Type the above mentioned code with h1 and p tags</li>
                        <li>Save the file with html extension ex: <b><i>helloworld.html</i></b></li>
                        <li>Open with your favourite browser</li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#elements-in-any-site"
                        aria-expanded="false" aria-controls="elements-in-any-site">
                        Where can we see HTML code in the browser ?
                    </button>
                </h5>
            </div>
            <div id="elements-in-any-site" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <ul>
                        <li>We can see html in any website by pressing f12 keyboard shorcut and click on elements tab on the window</li>
                        <img src="assets/img/web-designing/intro/html-helloworld.jpg" style="border: 1px solid rgb(243, 179, 141);padding: 5px;" alt="html-helloworld.jpg">
                    </ul>
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card-header" id="headingOne">
                <h5 class="mb-0">
                    <button class="btn btn-link" data-bs-toggle="collapse" data-bs-target="#structure-of-html-document"
                        aria-expanded="false" aria-controls="structure-of-html-document">
                        Struture of HTML document in code 
                    </button>
                </h5>
            </div>
            <div id="structure-of-html-document" class="collapse" aria-labelledby="headingOne">
                <div class="card-body">
                    <ul>
                        <li>As we see in example above every html document should start with html tag and head and body</li>
                        <li>Basic Construction of an HTML Page is as follows</li>
                        <li><code>&lt;!DOCTYPE html&gt;</code> => This tag specifies the language you will write on the page. In this case, the language is HTML 5.</li>
                        <li><code>&lt;html&gt;</code> => This tag signals that from here on we are going to write in HTML code.</li> 
                        <li><code>&lt;head&gt;</code> => This is where all the <b>metadata for the page</b> goes — stuff mostly meant for search engines and other computer programs.</li>
                        <li><code>&lt;body&gt;</code> => This is where the content of the page goes.</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>