<div class="card card-body">
  <h3 class="global-component-heading">My SQL Installation & Introduction</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Installation">Installation</span>

  </div>

  <div *ngIf="elementId=='one'">
    <div class="card-body">
      <div class="card border-warning text-center" style="border: 2px solid;">
        <h4 style="padding:10px">Click here to download softwares.</h4>
        <a style="padding:10px"
          href="https://drive.google.com/file/d/1TGTe4TZjYxP9Nq-GEpN-ogNiP6WXF8nx/view?usp=sharing"
          target="_blank"><button class="btn btn-primary">Download</button></a>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/1.jpg">
            <div class="card-body">
              <h5 class="card-box">Click on Download button as shown in the image</h5>
            </div>
          </div>

          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/2.jpg">
            <div class="card-body">
              <ul>
                <li>Next click on the <b>Download anyway </b>button in case if you got as shown in the above image
                </li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/3.jpg">
            <div class="card-body">
              <ul>
                <li>After downloading the file open it on the downloads folder</li>
                <li>The file name was <b>softwares</b></li>
                <li>Right click on the softwares file select <b>extract file</b></li>
                <li>It will be shown as in the above image</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/4.jpg">
            <div class="card-body">
              <ul>
                <li>Now after Clicking on <b>Extract file</b></li>
                <li>Select the <b>Extract</b> button</li>
                <li>It will be shown as in the above image</li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/5.jpg">
            <div class="card-body">
              <ul>
                <li>After finishing the extraction open the extracted file in downloads folder</li>
                <li>Click on the <b>softwares</b></li>
                <li>Click on <b>MySQL 22.0.8</b></li>
                <li>Double Click on<b>mysql-installer-community-8.0.22.0</b></li>
                <li>Click on <b>yes</b></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/6.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Next</b></p>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/7.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Next</b></p>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/8.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Next</b></p>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/9.jpg">
            <div class="card-body">
              <ul>
                <li>After clicking Next Click on <b>Yes</b></li>
                <li>Refer from the above image</li>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/10.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Execute</b></p>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/11.jpg">
            <div class="card-body">
              <ul>
                <p>After the task execute was completed Click on <b>Next</b></p>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/12.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Next</b></p>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/13.jpg">
            <div class="card-body">
              <ul>
                <p>Click on<b>Next</b></p>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/14.jpg">
            <div class="card-body">
              <ul>
                <li>Click on<b>Next</b></li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/15.jpg">
            <div class="card-body">
              <ul>
                <li>Now set the passward as you want </li>
                <li>Click on <b>Next</b></li>
              </ul>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/16.jpg">
            <div class="card-body">
              <ul>
                <li>Select the windows services as shown in the image </li>
                <li>Click on <b>Next</b></li>
              </ul>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/17.jpg">
            <div class="card-body">
              <li>Click on <b>Execute</b>
              </li>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/18.jpg">
            <div class="card-body">
              <li>Click on <b>Finish</b></li>
            </div>
          </div>
        </div>
        <div style="padding:10px" class="card-group">
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/19.jpg">
            <div class="card-body">
              <li>Now select the connect to server</li>
              <li>Fill the user name ,passward Click On <b>check</b></li>
              <li>Click on <b>Next</b></li>
            </div>
          </div>
          <div class="card">
            <img class="card-img-top" src="assets/img/dbms/install/20.jpg">
            <div class="card-body">
              <li>Click on <b>Finish</b></li>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>