<div class="card card-body my-4">
    <h3 class="global-component-heading">Pattern 1</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
    
    </div>
    <div *ngIf="elementId=='one'">
      <div class="card-body">
  
        <div class="prow">
          <div class="pcolumn">
            <img src="assets/img/corejava/patterns/pattern1_1.jpeg" alt="pattern">
          </div>
          <div class="pcolumn">
            <img src="assets/img/corejava/patterns/pattern1_2.jpeg" alt="pattern">
          </div>
          <div class="pcolumn">
            <img src="assets/img/corejava/patterns/pattern1_3.JPG" alt="pattern">
          </div>
        </div>
  
      </div><!-- Ending of problem statement card body-->
    </div>
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning mt-4">
        <img class="program-img-fit" src="assets/img/javascript/basic-problems/pattern1.jpg" alt="program">
      </div>
    </div>
    <div *ngIf="elementId=='three'">
      <div class="card-body">
        <app-video-cmp 
        [url]="videoData"
        [audioData]="audioData"
        ></app-video-cmp>
      </div>
    </div>
  
  
  </div>