<div class="card card-body">
    <h3 class="global-component-heading">CSS signup</h3>
    <div class="global-tab-title global-tab-slide-effect">
        <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
            data-hover="Introduction">Introduction</span>
        <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
            data-hover="code and output">code and output</span>
        <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''"
            (click)="tabChange($event)" data-hover="Animation Video">Animation Video</span>
    </div>

    <div *ngIf="elementId=='one'">
        <div class="card border-warning" style="border: 2px solid;">
            <ul>
                <li>Create an html sign up along with css styles from step by step by using the following instructions:-
                </li>
                <li>Keep the title - form two</li>
                <li>In body keep the heading - "sign up" & with the largest size among all those headings</li>
                <li>Form with action and id</li>
                <li>Give the input type- "text", id-"fname,email", name-"fname,email", placeholder-"Name, Email</li>
                <li>In label for-"gender,male,female"</li>
                <li>input type- "radio" id- "male,female", name-"male,female, value-"Male,female"</li>
                <li>Keep label for-"Courses, java, python, DotNet"</li>
                <li>In input type-"checkbox", id - "Java, Python, DotNet", name - "Java, Python, DotNet", value- "Java,
                    Python, DotNet"</li>
                <li>In input type-"passward", id-"passward,confirmPassward", name-"passward,confirmPassward",
                    placeholder-"passward, confirm passward"</li>
                <li>Now in input give type,value- "submit"</li>
                <li>Add the css styles for the following data:- </li>
                <li>Add css form-container style as "padding: 30px", "margin: 0 auto", "width: 50%","font-size: 20px",
                    "border-radius:10px", "box-shadow: 0px -1px 10px 1px rgba(0,0,0,0.75)" </li>
                <li>Add input style as "font-size: 20px", "margin: 9px 5px 9px 0px ", "padding: 5px"</li>
                <li>Add input text,passward type styles as "border: none","border-bottom: 2px solid"</li>
                <li>Add input text, passward type focus-within style as "outline: none"</li>
                <li>Add text center style as "text-align: center"</li>
                <li>apply all these and check whether all the features are working properly or not</li>
            </ul>
        </div>
    </div>

    <div *ngIf="elementId=='two'">
        <div class="card-body">
            <h2>HTML Code</h2>
            <div class="card-body">
                <div class="card-group">
                    <img src="assets/img/web-designing/css/forms/vscode_signup_html_code.jpg" class="card"
                        style="border: 1px solid rgb(243, 179, 141);padding: 5px;width: 40%;"
                        alt="vs code signup html code.jpg">
                </div>
            </div>
            <h2>CSS Code</h2>
            <div class="card-body">
                <div class="card-group">
                    <img src="assets/img/web-designing/css/forms/vscode_signup_css_code.jpg" class="card"
                        style="border: 1px solid rgb(243, 179, 141);padding: 5px;width: 40%;"
                        alt="vs code signup css code.jpg">
                </div>
            </div>
            <h2>Output</h2>
            <div class="card-body">
                <div class="card-group">
                    <img src="assets/img/web-designing/css/forms/css_signup_code_output.jpg" class="card"
                        style="border: 1px solid rgb(243, 179, 141);padding: 5px;width: 40%;"
                        alt="css signup code output.jpg">
                </div>
            </div>
        </div>
    </div>

    <div *ngIf="elementId=='three'">
        <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
            <app-video-cmp [url]="''"></app-video-cmp>
        </div>
    </div>
</div>