<div class="card card-body">
    <h3 class="global-component-heading">Keywords</h3>
    <div *ngIf="elementId=='one'">
        <div class="card border-warning" style="border: 2px solid;">
            
            <div>
                <section>
                    <div class="if">
                        <p>
                            <li><b>Keywords</b> in Python are reserved words that have predefined meanings and cannot be used as identifiers (such as variable names or function names). </li>
                            <li>These keywords are part of the language syntax and serve specific purposes in Python programming. </li>
                            <b>List of Python Keywords:</b>
                        </p>
                    </div>
                </section>
                <section class="ifcondition">
                    <div class="row">
                        <div class="course-col">
                            <table >
                                <tr>
                                  <td>False</td>
                                  <td>await</td>
                                  <td>else</td>
                                  <td>import</td>
                                  <td>pass</td>
                                </tr>
                                <tr>
                                  <td>None</td>
                                  <td>break</td>
                                  <td>except</td>
                                  <td>in</td>
                                  <td>raise</td>
                                </tr>
                                <tr>
                                  <td>True</td>
                                  <td>class</td>
                                  <td class="cell-highlight">finally</td>
                                  <td>is</td>
                                  <td>return</td>
                                </tr>
                                <tr>
                                  <td>and</td>
                                  <td>continue</td>
                                  <td>for</td>
                                  <td>lambda</td>
                                  <td>try</td>
                                </tr>
                                <tr>
                                  <td>as</td>
                                  <td>def</td>
                                  <td class="cell-highlight">from</td>
                                  <td>nonlocal</td>
                                  <td>while</td>
                                </tr>
                                <tr>
                                  <td>assert</td>
                                  <td>del</td>
                                  <td>global</td>
                                  <td>not</td>
                                  <td>with</td>
                                </tr>
                                <tr>
                                  <td>async</td>
                                  <td>elif</td>
                                  <td>if</td>
                                  <td>or</td>
                                  <td>yield</td>
                                </tr>
                                
                              </table>
                        </div>
                    </div>
                </section>              
            </div>
        </div>
    </div>
</div>