<div class="card card-body">
    <h3 class="global-component-heading"> Anomalies Introductions</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="text-center">
                <button type="button" class="btn btn-lg btn-block">Anomalies means instability occurred in the
                    relational table
                    during the operations performed on the relational table.</button>
                <button type="button" class="btn btn-lg btn-block">There are various reasons for using anomalies like
                    when
                    unnesessary data present in database table, if a table build in an poor manner</button>
                <button type="button" class="btn btn-lg btn-block">By using these anomalies all the data stored in a
                    single
                    table.</button>
                <button type="button" class="btn btn-lg btn-block">There are three types on anomalies<b>(Update,
                        insertion,
                        deletion)</b></button>
            </div>
            <div class="col d-flex justify-content-center">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>UPDATION ANOMALY</b></div>
                    <div class="card-body" style="background-color: rgb(255, 239, 209);">
                        <p style='font-size: medium; font-style: oblique;'> When we update some rows in the table, and
                            if it
                            leads to the instability of the table then this anomaly occurs.</p>
                    </div>
                </div>
            </div>
            <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>INSERTION ANOMALY</b></div>
                    <div class="card-body" style="background-color: rgb(252, 227, 231);">
                        <p style='font-size: medium; font-style: oblique;'>If there is a new row inserted in the table
                            and
                            it creates the instability in the table then it is called the insertion anomaly. </p>
                    </div>
                </div>
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>DELETION ANOMALY</b></div>
                    <div class="card-body" style="background-color: rgb(229, 253, 253);">
                        <p style='font-size: medium; font-style: oblique;'> If we delete some rows from the table and if
                            any
                            other information or data which is required is also deleted from the database, this is
                            called
                            the deletion anomaly in the database.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>