<div class="card card-body">
  <h3 class="global-component-heading">Armstrong Number</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span
      class="global-tab-pill"
      id="one"
      [ngClass]="elementId == 'one' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Problem Statement"
      >Problem Statement</span
    >
    <span
      class="global-tab-pill"
      id="two"
      [ngClass]="elementId == 'two' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Program"
      >Program</span
    >
    <span
      class="global-tab-pill"
      id="three"
      [ngClass]="elementId == 'three' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Animation Video"
      >Animation Video</span
    >
    <span
      class="global-tab-pill"
      id="four"
      [ngClass]="elementId == 'four' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Test Cases"
      >Test Cases</span
    >
    <span
      class="global-tab-pill"
      id="five"
      [ngClass]="elementId == 'five' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Practice"
      >Practice</span
    >
  </div>

  <div *ngIf="elementId == 'one'">
    <div class="card border-warning" style="border: 2px solid">
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-block">
          An Armstrong number is a number that is equal to the sum of its own
          digits raised to the power of the number of digits. In other words, an
          Armstrong number is a number that can be written as the sum of its own
          digits each raised to the power of the number of digits.
        </button>

        <button type="button" class="btn btn-lg btn-block">
          <p>For example,</p>
          <p>
            153 is an Armstrong number because 1<sup>3</sup> + 5<sup>3</sup> +
            3<sup>3</sup> = 153. Similarly, 370 is an Armstrong number because
            3<sup>3</sup> + 7<sup>3</sup> + 0<sup>3</sup> = 370.
          </p>
          <p>However, not all numbers are Armstrong numbers. For example,</p>
          <p>
            123 is not an Armstrong number because 1<sup>3</sup> + 2<sup>3</sup>
            + 3<sup>3</sup> is not equal to 123.
          </p>
        </button>
      </div>
      <!--starting of the example-->
      <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-1</b></div>
          <div class="card-body" style="background-color: rgb(255, 239, 209)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">153</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 153 is a amstrong number</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-2</b></div>
          <div class="card-body" style="background-color: rgb(229, 253, 253)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">371</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 371 is a amstrong number</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-3</b></div>
          <div class="card-body" style="background-color: rgb(252, 227, 231)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">25</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 25 is not a amstrong number</p>
          </div>
        </div>
      </div>
      <!--Ending of example-->
    </div>
    <!-- Ending of problem statement card body-->
  </div>

  <div *ngIf="elementId == 'two'">
    <div class="card-body border-warning" style="border: 2px solid">
      <img
        class="program-img-fit"
        src="assets/img/corejava/basic/armstrong.JPG"
        alt="program"
      />
    </div>
  </div>
  <div *ngIf="elementId == 'three'">
    <div class="card-body">
      <app-video-cmp [url]="videoData"[audioData]="audioData"></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId == 'four'">
    <!--starting of the test cases-->
    <div class="card-body card-group">
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-1</b></div>
        <div class="card-body" style="background-color: rgb(255, 239, 209)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">153</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Armstrong Number</p>
        </div>
      </div>
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-2</b></div>
        <div class="card-body" style="background-color: rgb(229, 253, 253)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">371</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Armstrong Number</p>
        </div>
      </div>
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-3</b></div>
        <div class="card-body" style="background-color: rgb(252, 227, 231)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">25</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Not an armstrong Number</p>
        </div>
      </div>
    </div>
    <!--ending of the test cases-->
  </div>
  <div *ngIf="elementId == 'five'">
    <div class="card-body">
      <app-compiler-cmp
        [problemId]="'addtion'"
        [languageId]="'JAVA8'"
      ></app-compiler-cmp>
    </div>
  </div>
</div>
