<div class="card card-body">
    <h3 class="global-component-heading">Product array puzzle(8 times asked )</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
        data-hover="Test Cases">Test Cases</span>
      <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
        data-hover="Practice">Practice</span>
    </div>
  
    <div *ngIf="elementId=='one'">
      <div class="card-body">
        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body content-box" style="font-family: 'Inter', sans-serif;">
              <h1>Product array puzzle(8 times asked )</h1>
              <p>Company Tags
                Flipkart  Accolite  Amezone Microsoft  D-E-Shaw Google Nagarro Atlassian <br><br>
                Product array puzzle(8 times asked )
                Given an array nums[] of size n, 
                construct a Product Array P (of same size n)
                 such that P[i] is equal to the product of all the elements of nums except nums[i].
                </p>
              
              <div class="example">
                <h2>Example 1</h2>
                <p><strong>Input:</strong> N = 5, Arr[] = {{ '{' }}10, 3, 5, 6, 2{{ '}' }}</p>
                <p><strong>Output:</strong> -180 600 360 300 900</p>
                <p>Explanation: 
                    For i=0, P[i] = 3*5*6*2 = 180.
                    For i=1, P[i] = 10*5*6*2 = 600.
                    For i=2, P[i] = 10*3*6*2 = 360.
                    For i=3, P[i] = 10*3*5*2 = 300.
                    For i=4, P[i] = 10*3*5*6 = 900.
                    
                    </p>
              </div>
              
              <div class="example">
                <h2>Example 2</h2>
                <p><strong>Input:</strong> N = 2, Arr[] = {{ '{' }}12,0{{ '}' }}</p>
                <p><strong>Output:</strong> 0 12</p>
                <p>Explanation:
                    Since, 3 is present more
                    than N/2 times, so it is 
                    the majority element
                    
                </p>
              </div>
            </div>
          </div>

          <!-- Starting of examples-->
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text"> Enter  number of element<br>
                          Enter array element <br>
                          n=5
                          Arr[] = {{ '{' }}10, 3, 5, 6, 2{{ '}' }}
                </p>

                <!-- <p style="margin-top: -20px;" class="card-text">22</p> -->
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">180 600 360 300 900</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter  number of element<br>
                  Enter array element <br>
                  N = 2 <br>
                  Arr[] = {{ '{' }}12,0{{ '}' }}

                </p>
                <!-- <p style="margin-top: -20px;" class="card-text">11</p> -->
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">0 12</p>
              </div>
            </div>
  
            <!-- <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 3</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">85</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">85 is odd number.</p>
              </div>
            </div> -->
          </div> 
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning">
        <img class="program-img-fit" src="assets/img/corejava/basic/evenodd.JPG" alt="program">
      </div>
    </div>
    <div *ngIf="elementId=='three'">
      <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
        <app-video-cmp [url]="'even_odd.m4v'"></app-video-cmp>
      </div>
    </div>
    <div *ngIf="elementId=='four'">
      <div class="card-body">
  
        <!-- Starting of test cases -->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 1</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">22</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Even</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 2</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">11</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 3</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">85</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
        </div> <!-- Ending of test cases -->
  
      </div>
    </div>
    <div *ngIf="elementId=='five'">
      <div class="card-body">
        <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
  
      </div>
    </div>
  </div>