<div class="card card-body">
    <h3 class="global-component-heading">Factorial of a number</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
        data-hover="Test Cases">Test Cases</span>
      <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
        data-hover="Practice">Practice</span>
    </div>
    <div *ngIf="elementId=='one'">
      <div class="card-body">
        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body content-box" style="font-family: 'Inter', sans-serif;">
              <p>
                The factorial of a non-negative integer is a mathematical operation that calculates the product of all
                positive integers less than or equal to that number. It is denoted by the exclamation mark
                (<code>!</code>) following the number.<br> For example, the factorial of 5 is written as 5!, and it is
                calculated as:
              </p>
              <p>
                5! = 5 × 4 × 3 × 2 × 1 = 120.
              </p>
              <p>
                In general, the factorial of a number <em>n</em>, denoted as <em>n!</em>, is the product of all positive
                integers from 1 to <em>n</em>. The factorial function can be defined recursively as:
              </p>
              <pre>
                n! = n × (n-1)!
              </pre>
              <p>
                with the base case being 0! = 1.
              </p>
              <p>
                It's important to note that factorials grow very rapidly as the input number increases. The factorial of
                even moderately large numbers quickly becomes extremely large, which can lead to numerical overflow in
                computer calculations. In such cases, specialized algorithms or approximation techniques are used to
                handle factorials.
              </p>
            </div>
          </div>
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">5</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">120</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">4</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">24</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 3</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">6</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">720</p>
              </div>
            </div>
          </div> <!-- Ending of examples-->
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
  
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning">
        <img class="program-img-fit" src="assets/img/python/basic/factorial.jpg" alt="program">
      </div>
    </div>
  
    <div *ngIf="elementId=='three'">
      <div class="card-body">
        <app-video-cmp 
        [url]="videoData"
        [audioData]="audioData"
        ></app-video-cmp>
      </div>
    </div>
  
    <div *ngIf="elementId=='four'">
      <div class="card-body">
        <!-- Starting of test cases -->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 1</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">5</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">120</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 2</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">4</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">24</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 3</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">6</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">720</p>
            </div>
          </div>
        </div> <!-- Ending of test cases -->
      </div>
    </div>
  
    <div *ngIf="elementId=='five'">
      <div class="card-body">
        <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
      </div>
    </div>
  </div>