<div class="card card-body">
  <h3 class="global-component-heading">Assignment Operators</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span
      class="global-tab-pill"
      id="one"
      [ngClass]="elementId == 'one' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Probem Statement"
      >Problem Statement</span
    >
    <span
      class="global-tab-pill"
      id="two"
      [ngClass]="elementId == 'two' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Program"
      >Program</span
    >
    <span
      class="global-tab-pill"
      id="three"
      [ngClass]="elementId == 'three' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Animation Video"
      >Animation Video</span
    >
    <span
      class="global-tab-pill"
      id="five"
      [ngClass]="elementId == 'five' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Practice"
      >Practice</span
    >
  </div>
  <div *ngIf="elementId == 'one'">
    <div class="card-body card border-warning" style="border: 2px solid">
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-block">
          Assignment operators are used to assign data to the variables.
        </button>

        <img src="assets/img/corejava/intro/assignment.JPG" />
      </div>
    </div>
   
  </div> <!-- Ending of problem statement card body-->
  <div *ngIf="elementId == 'two'">
    <div class="card-body border border-warning" style="border: 2px solid">
      <img
        class="program-img-fit"
        src="assets/img/corejava/intro/assprogram.JPG"
        alt="program"
      />
    </div>
  </div>
  <div *ngIf="elementId == 'three'">
    <div
      class="card-body"
    >
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>
  <div *ngIf="elementId == 'five'">
    <div class="card-body">
      <app-compiler-cmp
        [problemId]="'addtion'"
        [languageId]="'JAVA8'"
      ></app-compiler-cmp>
    </div>
  </div>
</div>
