<div class="card card-body">
  <h3 class="global-component-heading">Fibonacci sequence</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span
      class="global-tab-pill"
      id="one"
      [ngClass]="elementId == 'one' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Problem Statement"
      >Problem Statement</span
    >
    <span
      class="global-tab-pill"
      id="two"
      [ngClass]="elementId == 'two' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Program"
      >Program</span
    >
    <span
      class="global-tab-pill"
      id="three"
      [ngClass]="elementId == 'three' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Animation Video"
      >Animation Video</span
    >
    <span
      class="global-tab-pill"
      id="four"
      [ngClass]="elementId == 'four' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Test Cases"
      >Test Cases</span
    >
    <span
      class="global-tab-pill"
      id="five"
      [ngClass]="elementId == 'five' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Practice"
      >Practice</span
    >
  </div>

  <div *ngIf="elementId == 'one'">
    <div class="card border-warning" style="border: 2px solid">
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-block">
          The Fibonacci sequence is a series of numbers in which each number is
          the sum of the two preceding ones.
        </button>

        <button type="button" class="btn btn-lg btn-block">
          Here's an example of the Fibonacci sequence:

          <p>0, 1, 1, 2, 3, 5, 8, 13, 21, 34, ...</p>
        </button>
        <button type="button" class="btn btn-lg btn-block">
          To generate this sequence, you start with the first two numbers, which
          are 0 and 1. Then, to find the next number, you add the previous two
          numbers together. This process continues indefinitely.

          <p>
            <b><u>Example Calculation:</u></b>
          </p>

          <p>Let's go through the first few numbers in detail:</p>

          <ol>
            <li>The first number is 0, as there is no number before it.</li>
            <li>The second number is 1, as there is no number before it.</li>
            <li>
              To find the third number, you add the previous two: 0 + 1 = 1.
            </li>
            <li>
              To find the fourth number, you add the previous two: 1 + 1 = 2.
            </li>
            <li>
              To find the fifth number, you add the previous two: 1 + 2 = 3.
            </li>
            <li>
              To find the sixth number, you add the previous two: 2 + 3 = 5.
            </li>
            <li>
              To find the seventh number, you add the previous two: 3 + 5 = 8.
            </li>
          </ol>

          <p>And so on. Each number is the sum of the two preceding ones.</p>
        </button>
        <button type="button" class="btn btn-lg btn-block">
          The Fibonacci sequence appears in various fields of study, including
          mathematics, nature, and computer science, and has many interesting
          properties and applications. It exhibits a pattern found in numerous
          natural phenomena, such as the arrangement of leaves on a stem or the
          branching of trees. It also arises in algorithms, number theory, and
          even financial analysis.
        </button>
      </div>

      <!--starting of example-->
      <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-1</b></div>
          <div class="card-body" style="background-color: rgb(255, 239, 209)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">5</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">3</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-2</b></div>
          <div class="card-body" style="background-color: rgb(229, 253, 253)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">10</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">34</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-3</b></div>
          <div class="card-body" style="background-color: rgb(252, 227, 231)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">14</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">233</p>
          </div>
        </div>
      </div>
      <!--Ending of example-->
    </div>
    <!-- Ending of problem statement card body-->
  </div>

  <div *ngIf="elementId == 'two'">
    <div class="card-body border-warning" style="border: 2px solid">
      <img
        class="program-img-fit"
        src="assets/img/corejava/basic/fib.JPG"
        alt="program"
      />
    </div>
  </div>

  <div *ngIf="elementId == 'three'">
    <div class="card-body">
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId == 'four'">

  <!--starting of the test cases-->
  <div class="card-body card-group">
    <div
      class="card border-primary"
      style="border: 2px solid; margin: 10px; font-size: large"
    >
      <div class="card-header text-center"><b>Test Case-1</b></div>
      <div class="card-body" style="background-color: rgb(255, 239, 209)">
        <p class="card-subtitle mb-2 text-muted">Input</p>
        <p class="card-text">5</p>
        <p class="card-subtitle mb-2 text-muted">Output</p>
        <p class="card-text">3</p>
      </div>
    </div>
    <div
      class="card border-primary"
      style="border: 2px solid; margin: 10px;font-size: large"
    >
      <div class="card-header text-center"><b>Test Case-2</b></div>
      <div
        class="card-body"
        style="background-color: rgb(229, 253, 253)"
      >
      <p class="card-subtitle mb-2 text-muted">Input</p>
      <p class="card-text">10</p>
      <p class="card-subtitle mb-2 text-muted">Output</p>
      <p class="card-text">34</p></div>
    </div>
    <div
      class="card border-primary"
      style="border: 2px solid; margin: 10px;font-size: large"
    >
      <div class="card-header text-center"><b>Test Case-3</b></div>
      <div
        class="card-body"
        style="background-color: rgb(252, 227, 231)"
      >
      <p class="card-subtitle mb-2 text-muted">Input</p>
      <p class="card-text">14</p>
      <p class="card-subtitle mb-2 text-muted">Output</p>
      <p class="card-text">233</p></div>
    </div>
  </div>  
<!--ending of the test cases-->

    <div class="card-body">
   
    </div>
  </div>

  <div *ngIf="elementId == 'five'">
    <div class="card-body">
      <app-compiler-cmp
        [problemId]="'addtion'"
        [languageId]="'JAVA8'"
      ></app-compiler-cmp>
    </div>
  </div>
</div>
