<div class="card card-body">
  <h3 class="global-component-heading">Moving all the negative elements to one side</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Problem Statement">Problem Statement</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="Program">Program</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation Video">Animation Video</span>
    <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
      data-hover="Test Cases">Test Cases</span>
    <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
      data-hover="Practice">Practice</span>
  </div>
  <div *ngIf="elementId=='one'">
      <div class="card border-warning" style="border: 2px solid;">
        <div class="text-center">
          <button type="button" class="btn btn-lg btn-block">
            <p class='card-text' style='font-size: medium;font-style: oblique'>The program is to print all the negative
              elements present in the list either left or right side without sorting them.</p>
            <p class='card-text' style='font-size: medium;font-style: oblique'>Suppose we are taking the list of
              elements as list = [-10, 23, -19, 83, 91, -29, 55, 77]</p>
            <p class='card-text' style='font-size: medium;font-style: oblique'>from the above list of elements we have
              to bring all the negative elements to any one of the side (right/left) without sorting them means without
              arranging them as an ascending or descending order.</p>
            <p class='card-text' style='font-size: medium;font-style: oblique'>Then the result we be like [-10, -19,
              -29, 23, 83, 91, 55 77]</p>
          </button>
        </div>

        <!-- Starting of examples-->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 1</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">list = [-10, 4, 18, -19, 73, -21, 12, -2, 34, -43]</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">[-10, -19, -21, -2, -43, 18, 12, 4, 34, 73]</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center "><b>Example - 2</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">list = [34, 56, 6,-3, 8, -32 , -4, 94]</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">[-3, -32, -4, 34, 8, 56, 6, 94]</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 3</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">list = [-34, 934, 91, -19, 29, -8, -98, 84]</p>
              <p style="margin-top: -20px;" class="card-text">Key = 22</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">3 times 22 found in an array</p>
            </div>
          </div>
        </div> <!-- Ending of examples-->
      </div>
  </div>
  <div *ngIf="elementId=='two'">
    <div class="card-body border border-warning">
      <img class="program-img-fit" src="assets/img/python/lists_tuples/move_negatives_left.jpg" alt="program">
    </div>
    <div class="card-body border border-warning">
      <img class="program-img-fit" src="assets/img/python/lists_tuples/move_negatives_left_out.jpg" alt="program">
    </div>
  </div>
  <div *ngIf="elementId=='three'">
    <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId=='four'">
    <div class="card-body">
      <!-- Starting of test cases -->
      <div class="card-group">
        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 1</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">[-10, 4, 18, -19, 73, -21, 12, -2, 34, -43]</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">[-10, -19, -21, -2, -43, 18, 12, 4, 34, 73]</p>
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 2</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">[34, 56, 6,-3, 8, -32 , -4, 94]</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">[-3, -32, -4, 34, 8, 56, 6, 94]</p>
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 3</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">[-34, 934, 91, -19, 29, -8, -98, 84]</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">[-34, -19, -8, -98, 29, 91, 934, 84]</p>
          </div>
        </div>
      </div> <!-- Ending of test cases -->
    </div>
  </div>

  <div *ngIf="elementId=='five'">
    <div class="card-body">
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>

    </div>
  </div>
</div>