*{
    margin: 0;
    padding: 0; 
 }
 .header{
     text-align: center;
     margin-top: 10px;
 }
 .header h1{
    font-size: 600;
 }
 .git{
    margin: auto;
    text-align: center;
    padding: 20px;
    width: 80%; 
    background-color: rgba(216, 235, 246); 
    margin-bottom: 10px;
}
.git h1{
    font-size: 36px;
    font-weight: 600;
}
.git p{
    color: #000000;
    font-size: 25px;
    font-weight: 400;
    padding: 10px 100px; 
    margin: 0%;
    flex-basis: 31%;
    border-radius: 20px;
    padding: 20px 12px;
    box-sizing: border-box;
    margin-bottom: 5px;
}
.keyconcepts{
    width: 80%;
    font-weight: 700;
    margin: auto;
    text-align: center;
    padding-top: auto;
}
.keyconcepts h1{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 5px;
}
.row{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;  
}
.course-col{
    flex-basis: 31%;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 5px 12px;
    font-weight: 500;
    box-sizing: border-box;
}
.course-col:nth-child(3n+0){
    background-color:antiquewhite;

}
.course-col:nth-child(3n+1){
    background-color: beige;

}
.course-col:nth-child(3n+2){
    background-color:rgb(205, 245, 248);
}
.keyconcepts h3{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin: 5px 0;
    background-color: rgba(0,0,0,.03);
}
.keyconcepts p{
    font-size: 20px;
}
.advantages{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: auto;

}
.advantages h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 1%;
    margin-bottom: 1%;
    
}
.advantage-col{
    flex-basis: 31%;
    background: #fff6f6;
    border-radius: 20px;
    margin-bottom: 5%;
    padding: 20px 12px;
    box-sizing: border-box;
}
.advantage-col:hover{
    box-shadow: 0 0 20px 0px rgba(0,0,0,0.2);
    cursor: pointer;
}
.advantage-col h3{
    text-align: center;
    font-weight: 600;
    font-size: 28px;
    margin: 10px 0;
    margin-bottom: 1%;
}
.advantage-col p{
    text-align: center;
    font-weight: 400;
    font-size: 24px;
    margin: 10px 0;
}
.conclusion{
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: auto; 
}
.conclusion h1{
    font-size: 36px;
    font-weight: 600;
    padding-bottom: 1%;
}
.conclusion p{
    font-size:22px;
    text-align: center;
    margin: auto;
    margin-bottom: 5%;
}