<div class="card card-body">
  <h3 class="global-component-heading">Find a Letter in String</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Problem Statement">Problem Statement</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="Program">Program</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation Video">Animation Video</span>
    <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
      data-hover="Test Cases">Test Cases</span>
    <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
      data-hover="Practice">Practice</span>
  </div>

  <div *ngIf="elementId=='one'">
    <div class="card-body">
      <div class="card border-warning" style="border: 2px solid;">
        <div class="card" style="margin: 5px;">
          <div class="card-body" style="font-family: 'Inter', sans-serif;">
            <pre>

The Program is to find whether the given key is present in a string or not
Example :
If we have a String "operations" and the key is 'r', then 'r' is present in 4th position of the "operations" then output should be "r is present in operations".

Sample 1 :
string = "hello java"
key = 'o'
output : o is present in hello java

Sample 2 :
string = "How are you"
key = 'j'
output : j is not present in How are you

              </pre>

          </div>
        </div>

        <!-- Starting of examples-->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 1</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">String = {{ '{' }}"hello java"{{ '}' }}</p>
              <p style="margin-top: -20px;" class="card-text">Key = 'o'</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">o - present in the string - hello java</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center "><b>Example - 2</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">String = {{ '{' }}"How are you"{{ '}' }}</p>
              <p style="margin-top: -20px;" class="card-text">Key = 'y'</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">y - present in the string - How are you</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 3</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">String = {{ '{' }}"May Month"{{ '}' }}</p>
              <p style="margin-top: -20px;" class="card-text">Key = 's'</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">s - not present in the string - May Month</p>
            </div>
          </div>
        </div> <!-- Ending of examples-->
      </div>
    </div><!-- Ending of problem statement card body-->
  </div>

  <div *ngIf="elementId=='two'">
    <div class="card-body border border-warning">
      <img class="program-img-fit" src="assets/img/corejava/strings/findletter.JPG" alt="program">
    </div>
  </div>

  <div *ngIf="elementId=='three'">
    <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId=='four'">
    <div class="card-body">
      <!-- Starting of test cases -->
      <div class="card-group">
        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 1</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">hello java</p>
            <p class="card-text">o</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">present</p>
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 2</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">How are you</p>
            <p class="card-text">y</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">present</p>
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 3</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">May Month</p>
            <p class="card-text">s</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">Not Present</p>
          </div>
        </div>
      </div> <!-- Ending of test cases -->

    </div>
  </div>

  <div *ngIf="elementId=='five'">
    <div class="card-body">
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>

    </div>
  </div>
</div>