<div class="card card-body">
    <h3 class="global-component-heading">Even or Odd</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
        data-hover="Test Cases">Test Cases</span>
      <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
        data-hover="Practice">Practice</span>
    </div>
  
    <div *ngIf="elementId=='one'">
      <div class="card-body">
        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body content-box" style="font-family: 'Inter', sans-serif;">
              <p>An even number is any integer (whole number) that is exactly divisible by 2, meaning that when the number
                is divided by 2, the remainder is 0. Examples of even numbers include 2, 4, 6, 8, 10, 12, etc.</p>
              <p>On the other hand, an odd number is any integer that is not divisible by 2, meaning that when the number
                is divided by 2, the remainder is always 1. Examples of odd numbers include 1, 3, 5, 7, 9, 11, etc.</p>
              <p>One way to quickly determine if a number is even or odd is to look at the last digit of the number. If
                the last digit is 0, 2, 4, 6, or 8, the number is even. If the last digit is 1, 3, 5, 7, or 9, the number
                is odd.</p>
              <img class="program-img-fit" src="assets/img/corejava/basic/evenodddata.jpg" alt="program">
              <img class="program-img-fit" src="assets/img/corejava/basic/module.jpg" alt="program">
            </div>
          </div>
  
          <!-- Starting of examples-->
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">22</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">22 is even number.</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">11</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">11 is odd number.</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 3</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">85</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">85 is odd number.</p>
              </div>
            </div>
          </div> <!-- Ending of examples-->
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning">
        <img class="program-img-fit" src="assets/img/python/basic/even_odd.jpg" alt="program">
      </div>
    </div>
    <div *ngIf="elementId=='three'">
      <div class="card-body">
        <app-video-cmp 
        [url]="videoData"
        [audioData]="audioData"
        ></app-video-cmp>
      </div>
    </div>
    <div *ngIf="elementId=='four'">
      <div class="card-body">
  
        <!-- Starting of test cases -->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 1</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">22</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Even</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 2</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">11</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center font-weight-bold">TestCase - 3</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">85</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Odd</p>
            </div>
          </div>
        </div> <!-- Ending of test cases -->
  
      </div>
    </div>
    <div *ngIf="elementId=='five'">
      <div class="card-body">
        <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
  
      </div>
    </div>
  </div>