<div class="card card-body">
    <h3 class="global-component-heading">CLASS AND OBJECTS INTRODUCTIONS</h3>
    <div class="card border-warning" style="border: 2px solid;">
        <div class="card-body">
            <div class="card-group">
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>Object</b></div>
                    <div class="card-body" style="background-color: rgb(229, 253, 253);">
                        <li class='card-text' style='font-size: medium;font-style: oblique'>Object is an realworld entity which has both state and behaviour. </li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>It is an instance of class which axecute the data and functionalities of the class.</li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>Memory for an object is allocated as soon as the object was created.</li>
                        <p class='text-center' style='font-size: medium;font-style: oblique'><b><u>Example</u></b></p>
                        <img src="assets/img/corejava/objectclass/object_example.jpg" style="width: 100%;"><br><br>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>From the above example a new object was creaed and returned the value of x </li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>We can create not only single object , multiple objects can be created in a single class/we can create it in one class and access them in anither class. </li>
                    </div>
                </div>
                <div class="card border-primary" style="border: 2px solid; margin: 10px;">
                    <div class="card-header text-center"><b>class</b></div>
                    <div class="card-body" style="background-color: rgb(252, 227, 231);">
                        <li class='card-text' style='font-size: medium;font-style: oblique'>Class is an design time entity</li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>It is an collection of object properties and functionalities </li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>It acts like an blue print / template means a class can represents an solution for the part of the problem /entire problem it depends on complexity of problem. When the program is executed the classes are transformed into objects and the program is executes as object.</li>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>There is no memory was allocated as soon as the object was created</li>
                        <p class='text-center' style='font-size: medium;font-style: oblique'><b><u>Example</u></b></p>
                        <img src="assets/img/corejava/objectclass/class_example.jpg" style="width: 100%;"><br><br>
                        <li class='card-text' style='font-size: medium;font-style: oblique'>A class has both static and instance initializers, declarations,members(field,methids,construtors)</li>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>