<div class="card card-body">
  <h3 class="global-component-heading">Delete Database/Schema</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Introduction">Introduction</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="queries">queries</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation video">Animation video</span>
  </div>

  <div *ngIf="elementId=='one'">
    <div id="accordion">
      <div class="card-body">
        <div class="card border-warning" style="border: 2px solid;">
          <div class="card" style="margin: 5px;">
            <div class="card-body" style="font-family: 'Inter', sans-serif;">
              <p>
                The SQL DROP DATABASE statement is used to drop an existing database in SQL schema.
              </p>
              <pre>

                      Syntax : DROP DATABASE databaseName;
                                      
                      E.g.: - DROP DATABASE myDatabase;
                    </pre>
            </div>
          </div>

          <!-- Starting of examples-->
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Query</h6>
                <p class="card-text">DROP DATABASE myDatabase;</p>
                <h6 class="card-subtitle mb-2 text-muted">Result of Query</h6>
                <p class="card-text">DATABASE droped.</p>
              </div>
            </div>

            <div class="card border-primary" style="border: 2px solid; margin: 10px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Query</h6>
                <p class="card-text">DROP DATABASE bookingDatabase;</p>
                <h6 class="card-subtitle mb-2 text-muted">Result of Query</h6>
                <p class="card-text">DATABASE droped.</p>
              </div>
            </div>
          </div> <!-- Ending of examples-->
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
  </div> <!-- Ending of problem statement-->

  <div *ngIf="elementId=='two'">
    <div class="card">
      <div class="card border-warning" style="border: 2px solid;">
        <div class="card" style="margin: 5px;">
          <div class="card-body" style="font-family: 'Inter', sans-serif;">
            <p><b><u>
                  <h4>Query</h4>
                </u></b></p>
            <P>SHOW DATABASES;</P>
            <P>DROP DATABASE myDatabase;</P>
            <P>SHOW DATABASES;</P>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="elementId=='three'">
    <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
      <app-video-cmp [url]=" "></app-video-cmp>              
    </div>

  </div>

</div>