<div class="card card-body">
  <h3 class="global-component-heading">Spy Number</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span
      class="global-tab-pill"
      id="one"
      [ngClass]="elementId == 'one' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Problem Statement"
      >Problem Statement</span
    >
    <span
      class="global-tab-pill"
      id="two"
      [ngClass]="elementId == 'two' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Program"
      >Program</span
    >
    <span
      class="global-tab-pill"
      id="three"
      [ngClass]="elementId == 'three' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Animation Video"
      >Animation Video</span
    >
    <span
      class="global-tab-pill"
      id="four"
      [ngClass]="elementId == 'four' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Test Cases"
      >Test Cases</span
    >
    <span
      class="global-tab-pill"
      id="five"
      [ngClass]="elementId == 'five' ? 'active' : ''"
      (click)="tabChange($event)"
      data-hover="Practice"
      >Practice</span
    >
  </div>

  <div *ngIf="elementId == 'one'">
    <div class="card border-warning" style="border: 2px solid">
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-block">
          A spy number is a special type of number that exhibits a unique
          property related to its digits. To understand the concept of spy
          numbers, we need to explore their properties.
          <ol>
            <li>
              <strong>Digits:</strong> A spy number is composed of individual
              digits.
            </li>
            <li>
              <strong>Sum of Digits:</strong> The sum of the individual digits
              of a spy number is calculated by adding them together.
            </li>
            <li>
              <strong>Product of Digits:</strong> The product of the individual
              digits of a spy number is determined by multiplying them together.
            </li>
          </ol>
        </button>
        <button type="button" class="btn btn-lg btn-block">
          <b>Spy Number:</b><br />
          A number is considered a spy number if the sum of its digits is equal
          to the product of its digits.
        </button>
        <button type="button" class="btn btn-lg btn-block">
          <p><b>Example 1</b></p>
          <p>Let's consider the number 1124:</p>
          <ul>
            <li>Sum of digits = 1 + 1 + 2 + 4 = 8</li>
            <li>Product of digits = 1 * 1 * 2 * 4 = 8</li>
          </ul>
          <p>
            Since the sum of the digits (8) is equal to the product of the
            digits (8), we can conclude that 1124 is a spy number.
          </p>
        </button>
        <button type="button" class="btn btn-lg btn-block">
          <p><b>Example 2</b></p>
          <p>Let's consider the number 123:</p>
          <ul>
            <li>Sum of digits = 1 + 2 + 3 = 6</li>
            <li>Product of digits = 1 * 2 * 3 = 6</li>
          </ul>
          <p>
            Since the sum of the digits (6) is equal to the product of the
            digits (6), we can conclude that 123 is a spy number.
          </p>
        </button>
        <button type="button" class="btn btn-lg btn-block">
          <p><b>Example 3</b></p>
          <p>Let's consider the number 23:</p>
          <ul>
            <li>Sum of digits = 2 + 3 = 5</li>
            <li>Product of digits = 2 * 3 = 6</li>
          </ul>
          <p>
            Since the sum of the digits (5) is not equal to the product of the
            digits (6), we can conclude that 23 is not a spy number.
          </p>
        </button>
      </div>

      <!--starting of example-->
      <div class="card-group">
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-1</b></div>
          <div class="card-body" style="background-color: rgb(255, 239, 209)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">22</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 22 is a spy number</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-2</b></div>
          <div class="card-body" style="background-color: rgb(229, 253, 253)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">123</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 123 is a spy number</p>
          </div>
        </div>
        <div
          class="card border-primary"
          style="border: 2px solid; margin: 10px; font-size: large"
        >
          <div class="card-header text-center"><b>Example-3</b></div>
          <div class="card-body" style="background-color: rgb(252, 227, 231)">
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter a number</p>
            <p style="margin-top: -20px" class="card-text">1231</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">Given number 1231 is not a spy number</p>
          </div>
        </div>
      </div>
      <!--Ending of example-->
    </div>
    <!-- Ending of problem statement card body-->
  </div>

  <div *ngIf="elementId == 'two'">
    <div class="card-body border-warning" style="border: 2px solid">
      <img
        class="program-img-fit"
        src="assets/img/corejava/basic/spy.JPG"
        alt="program"
      />
    </div>
  </div>

  <div *ngIf="elementId == 'three'">
    <div class="card-body">
      <app-video-cmp [url]="videoData"[audioData]="audioData"></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId == 'four'">
    <!--starting of the test cases-->
    <div class="card-body card-group">
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-1</b></div>
        <div class="card-body" style="background-color: rgb(255, 239, 209)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">22</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Spy Number</p>
        </div>
      </div>
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-2</b></div>
        <div class="card-body" style="background-color: rgb(229, 253, 253)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">123</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Spy Number</p>
        </div>
      </div>
      <div
        class="card border-primary"
        style="border: 2px solid; margin: 10px; font-size: large"
      >
        <div class="card-header text-center"><b>Test Case-3</b></div>
        <div class="card-body" style="background-color: rgb(252, 227, 231)">
          <p class="card-subtitle mb-2 text-muted">Input</p>
          <p class="card-text">1231</p>
          <p class="card-subtitle mb-2 text-muted">Output</p>
          <p class="card-text">Not an Spy Number</p>
        </div>
      </div>
    </div>
    <!--ending of the test cases-->
  </div>
  <div *ngIf="elementId == 'five'">
    <div class="card-body">
      <app-compiler-cmp
        [problemId]="'addtion'"
        [languageId]="'JAVA8'"
      ></app-compiler-cmp>
    </div>
  </div>
</div>
