<div class="card card-body my-3">
  <h3 class="global-component-heading">Basic syntax instructions</h3>

<div class="card border-warning mt-4" style="border: 2px solid">
  <div class="card-body">
      <p class="content-text">
        <b>Statements and Semicolons:</b> JavaScript programs are composed of
        statements, which are executed sequentially. Statements are typically
        terminated by semicolons, although JavaScript can automatically insert
        semicolons in some cases.
      </p>
      <p class="content-text">
        <b>Code Blocks:</b> Code blocks are enclosed within curly braces '{{
          "{"
        }}
        {{ "}" }}' and are used to group multiple statements together. Code
        blocks are often used with control flow structures like loops and
        conditionals.
      </p>
      <p class="content-text">
        <li>
          <b>Comments:</b> Use comments to document your code. JavaScript
          supports single-line [Created using two forward slashes (//). Anything
          following // on the same line is treated as a comment.] and multi-line
          [Enclosed within /* and */. They can span multiple lines.] comments.
        </li>
        <li>
          Comments are essential for making your code more readable, explaining
          its purpose, and providing documentation for other developers
          (including your future self).
        </li>
      </p>
    </div>
  </div>
</div>