<div class="card card-body my-4">
    <h3 class="global-component-heading">Factorial of a number</h3>
    <div class="global-tab-title global-tab-slide-effect">
      <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
        data-hover="Problem Statement">Problem Statement</span>
      <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
        data-hover="Program">Program</span>
      <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
        data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
        data-hover="Test Cases">Test Cases</span>
      <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
        data-hover="Practice">Practice</span>
    </div>
    <div *ngIf="elementId=='one'">
      <div class="card border-warning mt-4" style="border: 2px solid">
        <p class="content-text">
                The Program is to print the muiltiplication(products) of given numbers.
             </p>
                <p class="content-text">
                <b>Definition:- </b>Factorial of a number is the product(multiplication) of all positive descending numbers upto
                1.<br>
                It is denoted by "Number!".
              </p>
              <p class="content-text">
                For example:<br>
                4! = 4*3*2*1 = 24.<br>
                Here, 4! Means we can go through reverse order from 4 to 1 and<br>
                multiply all the numbers from number 4 to number 1.<br>
                i.e., 4*3*2*1<br>
  
                consider 15!<br>
                15*14*13*12*11*10*9*8*7*6*5*4*3*2*1<br>
              </p>
          <div class="card-group">
            <div class="card border-primary" style="border: 2px solid; margin: 20px;">
              <div class="card-header text-center"><b>Example - 1</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">5</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">120</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 20px;">
              <div class="card-header text-center "><b>Example - 2</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">4</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">24</p>
              </div>
            </div>
  
            <div class="card border-primary" style="border: 2px solid; margin: 20px;">
              <div class="card-header text-center"><b>Example - 3</b></div>
              <div class="card-body">
                <h6 class="card-subtitle mb-2 text-muted">Input</h6>
                <p class="card-text">Enter a number</p>
                <p style="margin-top: -20px;" class="card-text">6</p>
                <h6 class="card-subtitle mb-2 text-muted">Output</h6>
                <p class="card-text">720</p>
             
            </div>
          </div> <!-- Ending of examples-->
        </div>
      </div><!-- Ending of problem statement card body-->
    </div>
  
    <div *ngIf="elementId=='two'">
      <div class="card-body border border-warning mt-4">
        <img class="program-img-fit" src="assets/img/javascript/basic-problems/factorial.jpg" alt="program">
      </div>
    </div>
  
    <div *ngIf="elementId=='three'">
      <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
        <app-video-cmp 
        [url]="videoData"
        [audioData]="audioData"
        ></app-video-cmp>
      </div>
    </div>
  
    <div *ngIf="elementId=='four'">
      <div class="card-body">
        <!-- Starting of test cases -->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 20px;">
            <div class="card-header text-center font-weight-bold">TestCase - 1</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">5</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">120</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 20px;">
            <div class="card-header text-center font-weight-bold">TestCase - 2</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">4</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">24</p>
            </div>
          </div>
  
          <div class="card border-primary" style="border: 2px solid; margin: 20px;">
            <div class="card-header text-center font-weight-bold">TestCase - 3</div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">6</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">720</p>
            </div>
          </div>
        </div> <!-- Ending of test cases -->
      </div>
    </div>
  
    <div *ngIf="elementId=='five'">
      <div class="card-body">
        <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
      </div>
    </div>
  </div>