<div class="card card-body">
  <h3 class="global-component-heading">Most Occurrence Number</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Problem Statement">Problem Statement</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="Program">Program</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation Video">Animation Video</span>
      <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
      data-hover="Test Cases">Test Cases</span>
    <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
      data-hover="Practice">Practice</span>
  </div>
  <div *ngIf="elementId=='one'">
    <div class="card-body">
      <div class="card border-warning" style="border: 2px solid;">
        <div class="card" style="margin: 5px;">
          <div class="card-body" style="font-family: 'Inter', sans-serif;">
            <pre>

Program to find most occurrence of number in array using Hashmap.

Example :

If we have an array int array[] = {{ '{' }}10,20,30,20,20{{ '}' }} and 
we need to print the number which is repeated more number of times in an array. 
In the array we can see the number 20 is repeated thrice. 
So, we can print the number 20 is the most occurrence number in the array.

Sample 1 :
Array = {{ '{' }}1,2,3,2,2{{ '}' }}
output : 
Most Occurrence number is 2

Sample 2 :
Array = {{ '{' }}11,23,32,32,23{{ '}' }}
output : 
Most Occurrence number is 23
Most Occurrence number is 32

              </pre>

          </div>
        </div>

        <!-- Starting of examples-->
        <div class="card-group">
          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 1</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">array = {{ '{' }}1,2,3,2,2{{ '}' }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Most occurence number is 2</p>
            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center "><b>Example - 2</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">array = {{ '{' }}11,5,12,12,5,5,5{{ '}' }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Most occurence number is 5</p>

            </div>
          </div>

          <div class="card border-primary" style="border: 2px solid; margin: 10px;">
            <div class="card-header text-center"><b>Example - 3</b></div>
            <div class="card-body">
              <h6 class="card-subtitle mb-2 text-muted">Input</h6>
              <p class="card-text">array = {{ '{' }}22,22,85,85,85{{ '}' }}</p>
              <h6 class="card-subtitle mb-2 text-muted">Output</h6>
              <p class="card-text">Most occurence number is 85</p>
            </div>
          </div>
        </div> <!-- Ending of examples-->
      </div>
    </div><!-- Ending of problem statement card body-->
  </div>
  <div *ngIf="elementId=='two'">
    <div class="card-body border border-warning">
      <img class="program-img-fit" src="assets/img/corejava/hashmap/MostOccurrenceNumber.JPG" alt="program">
    </div>
  </div>
  <div *ngIf="elementId=='three'">
    <div class="card-body w-75 mx-auto border" style="background-color: #77a6d1;border-radius: 10px;">
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>
  <div *ngIf="elementId=='four'">
    <div class="card-body">
      <!-- Starting of test cases -->
      <div class="card-group">
        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 1</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">5</p><br>
            <p class="card-text">1 2 3 2 2</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">1- 1 time</p>
           
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 2</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">7</p>
            <p class="card-text">11 5 12 12 5 5 5</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">5</p>
            
          </div>
        </div>

        <div class="card border-primary" style="border: 2px solid; margin: 10px;">
          <div class="card-header text-center font-weight-bold">TestCase - 3</div>
          <div class="card-body">
            <h6 class="card-subtitle mb-2 text-muted">Input</h6>
            <p class="card-text">5</p>
            <p class="card-text">22 22 85 85 85</p>
            <h6 class="card-subtitle mb-2 text-muted">Output</h6>
            <p class="card-text">85</p> 
          </div>
        </div>
      </div> <!-- Ending of test cases -->

    </div>
  </div>
  <div *ngIf="elementId=='five'">
    <div class="card-body">
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>

    </div>
  </div>
</div>