.btn-block {
    width: 90%;
    margin-bottom: 10px;
    font-weight: 500;
    background-color: rgb(216 235 246);
    margin-top: 15px;
    font-size: 27px;
    line-height: 1.7;
    word-spacing: 8px;
    padding: 30px;
}