<div class="card card-body">
  <h3 class="global-component-heading">Prime Number</h3>
  <div class="global-tab-title global-tab-slide-effect">
    <span class="global-tab-pill" id="one" [ngClass]="(elementId=='one')?'active':''" (click)="tabChange($event)"
      data-hover="Problem Statement">Problem Statement</span>
    <span class="global-tab-pill" id="two" [ngClass]="(elementId=='two')?'active':''" (click)="tabChange($event)"
      data-hover="Program">Program</span>
    <span class="global-tab-pill" id="three" [ngClass]="(elementId=='three')?'active':''" (click)="tabChange($event)"
      data-hover="Animation Video">Animation Video</span>
    <span class="global-tab-pill" id="four" [ngClass]="(elementId=='four')?'active':''" (click)="tabChange($event)"
      data-hover="Test Cases">Test Cases</span>
    <span class="global-tab-pill" id="five" [ngClass]="(elementId=='five')?'active':''" (click)="tabChange($event)"
      data-hover="Practice">Practice</span>
  </div>

  <div *ngIf="elementId=='one'">
    <div class="card border-warning" style="border: 2px solid">
      <div class="text-center">
        <button type="button" class="btn btn-lg btn-block">
            A prime number is a natural number greater than 1 that is divisible only by 1 and itself. In other words,
              it is a number that has no positive divisors other than 1 and itself.</button>
              <button type="button" class="btn btn-lg btn-block">  <p>For example, 2, 3, 5, 7, 11, and 13 are prime numbers.</p>
            <ol>
              <li><strong>Natural number:</strong> Prime numbers are whole numbers (non-negative integers) greater than
                1. They do not include fractions, decimals, or negative numbers.</li>
              <li><strong>Divisibility:</strong> A number is divisible by another number if it can be divided evenly
                without leaving a remainder.</li>
              <li><strong>Divisors:</strong> Divisors are the numbers by which a given number can be divided evenly.
              </li>
              <li><strong>Prime numbers:</strong> Prime numbers have exactly two distinct positive divisors, 1 and the
                number itself. No other positive integer can divide them evenly.</li>
            </ol></button>
            <button type="button" class="btn btn-lg btn-block">
            <p>
              <b>Example 1</b></p>
            <p>
              Let us Consider a number 13 ------- need to check whether 13 is a prime or not.<br>
              Step 1: find the factors of 13<br>
              Step 2: In table 1 and table 13 the number 13 will be divisible<br>
              Like, 1 * 13 = 13 and 13 * 1 = 13<br>
              Step 3: The factors of 13 is 1 and the number 13 itself.<br>
              So, prime number should have the factors like 1 and itself then 13 is a prime number.<br>
            </p>
            </button>

            <button type="button" class="btn btn-lg btn-block">
            <p>
              <b>Example 2</b></p>
            <p>
              Let us Consider a number 10 ------- need to check whether 10 is a prime or not.<br>
              Step 1: find the factors of 10<br>
              Step 2: In table 1, 2, 5, 10 the number 10 will be divisible<br>
              Like, 1*10 = 10<br>
              10* 1 = 10<br>
              2 * 5 = 10<br>
              5 * 2 = 10<br>
              Step 3: The factors of 10 is 1,2,5,10 itself.<br>
              So, prime number should have the factors like 1 and itself but in this given example we have more factors
              other than 1, 10 so it is not a prime number.<br>
            </button>
              <button type="button" class="btn btn-lg btn-block">
              Prime numbers have many interesting properties and play a fundamental role in number theory and various
                areas of mathematics. They have practical applications in cryptography, computer science, and prime
                factorization algorithms. Prime numbers also have a unique distribution among natural numbers, and the
                study of their distribution is an ongoing topic of research.
              </button>
          </div>
         <!--starting of example-->
         <div class="card-group">
          <div
            class="card border-primary"
            style="border: 2px solid; margin: 10px; font-size: large"
          >
            <div class="card-header text-center"><b>Example-1</b></div>
            <div class="card-body" style="background-color: rgb(255, 239, 209)">
              <p class="card-subtitle mb-2 text-muted">Input</p>
              <p class="card-text">Enter n value</p>
              <p style="margin-top: -20px" class="card-text">5</p>
              <p class="card-subtitle mb-2 text-muted">Output</p>
              <p class="card-text">5 is a prime number</p>
            </div>
          </div>
          <div
            class="card border-primary"
            style="border: 2px solid; margin: 10px;font-size: large"
          >
            <div class="card-header text-center"><b>Example-2</b></div>
            <div
              class="card-body"
              style="background-color: rgb(229, 253, 253)"
            >
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter n value</p>
            <p style="margin-top: -20px" class="card-text">10</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">10 is not a prime number</p></div>
          </div>
          <div
            class="card border-primary"
            style="border: 2px solid; margin: 10px;font-size: large"
          >
            <div class="card-header text-center"><b>Example-3</b></div>
            <div
              class="card-body"
              style="background-color: rgb(252, 227, 231)"
            >
            <p class="card-subtitle mb-2 text-muted">Input</p>
            <p class="card-text">Enter n value</p>
            <p style="margin-top: -20px" class="card-text">19</p>
            <p class="card-subtitle mb-2 text-muted">Output</p>
            <p class="card-text">19 is a prime number</p></div>
          </div>
        </div><!--Ending of example-->
      
    </div><!-- Ending of problem statement card body-->
  </div>

  <div *ngIf="elementId=='two'">
    <div class="card-body border-warning" style="border: 2px solid">
      <img class="program-img-fit" src="assets/img/corejava/basic/prime.JPG" alt="program">
    </div>
  </div>

  <div *ngIf="elementId=='three'">
    <div class="card-body">
      <app-video-cmp 
      [url]="videoData"
      [audioData]="audioData"
      ></app-video-cmp>
    </div>
  </div>

  <div *ngIf="elementId=='four'">

 <!--starting of the test cases-->
 <div class="card-body card-group">
  <div
    class="card border-primary"
    style="border: 2px solid; margin: 10px; font-size: large"
  >
    <div class="card-header text-center"><b>Test Case-1</b></div>
    <div class="card-body" style="background-color: rgb(255, 239, 209)">
      <p class="card-subtitle mb-2 text-muted">Input</p>
      <p class="card-text">5</p>
      <p class="card-subtitle mb-2 text-muted">Output</p>
      <p class="card-text">Prime Number</p>
    </div>
  </div>
  <div
    class="card border-primary"
    style="border: 2px solid; margin: 10px;font-size: large"
  >
    <div class="card-header text-center"><b>Test Case-2</b></div>
    <div
      class="card-body"
      style="background-color: rgb(229, 253, 253)"
    >
    <p class="card-subtitle mb-2 text-muted">Input</p>
    <p class="card-text">10</p>
    <p class="card-subtitle mb-2 text-muted">Output</p>
    <p class="card-text">Not an Prime Number</p></div>
  </div>
  <div
    class="card border-primary"
    style="border: 2px solid; margin: 10px;font-size: large"
  >
    <div class="card-header text-center"><b>Test Case-3</b></div>
    <div
      class="card-body"
      style="background-color: rgb(252, 227, 231)"
    >
    <p class="card-subtitle mb-2 text-muted">Input</p>
    <p class="card-text">19</p>
    <p class="card-subtitle mb-2 text-muted">Output</p>
    <p class="card-text">Prime Number</p></div>
  </div>
</div>  
<!--ending of the test cases-->
  </div>

  <div *ngIf="elementId=='five'">
    <div class="card-body">
      <app-compiler-cmp [problemId]="'addtion'" [languageId]="'JAVA8'"></app-compiler-cmp>
    </div>
  </div>
</div>